<!-- EDIT-TOOLS FOR VIEWS ROWS -->
<div class="unig-image-toolbox" id="unig-image-toolbox-{{ nid }}">
    <div class="btn-group btn-group-sm ost-toolbox-view-row-group" role="group">

        <!--Löschen-->
        <a type="button"
           class="btn btn-default use-ajax ost-toolbox-view-row-delete"
           data-dialog-type="modal"
           href="node/{{ nid }}/delete?destination=sponsoren-admin"
           aria-label="Löschen">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>

        <!--Bearbeiten-->
        <a type="button"
           class="btn btn-default use-ajax ost-toolbox-view-row-edit"
           data-dialog-type="modal"
           href="node/{{ nid }}/edit?destination=sponsoren-admin"
           aria-label="Bearbeiten">
            <span class="fas fa-edit" aria-hidden="true"></span>
        </a>
    </div>
</div>
