/*
*     THEME
*     =================
*     Dark
*
*/

// General
$color-text: rgb(213, 213, 213);
$color-label: rgb(175, 175, 175);
$color-text-invert: rgb(19, 19, 19);
$color-background: rgb(30, 30, 31);
$color-background-invert: rgb(213, 213, 213);

// Grayscale
$color-100: rgb(0, 0, 0);
$color-90: rgb(17, 17, 17);
$color-80: rgb(41, 41, 41);
$color-70: rgb(77, 77, 77);
$color-60: rgb(102, 102, 102);
$color-50: rgb(128, 128, 128);
$color-40: rgb(179, 179, 179);
$color-30: rgb(179, 179, 179);
$color-20: rgb(204, 204, 204);
$color-15: rgb(217, 217, 217);
$color-10: rgb(230, 230, 230);
$color-5: rgb(225, 225, 225);
$color-2: rgb(246, 246, 246);
$color-0: rgb(255, 255, 255);

$color-debug: rgb(255, 221, 138);

// default
$color-default-border: rgb(43, 44, 46);
$color-default-border-hover: rgb(70, 47, 97);

$color-default-border-invert: rgba(11, 11, 11, 0.95);
$color-default-border-invert-hover: rgb(51, 51, 51);

$color-default-background: rgb(45, 45, 45);
$color-default-background-hover: rgb(70, 47, 97);
$color-default-background-file-list: rgb(28, 28, 29);

$color-default-background-invert: rgb(79, 79, 79);
$color-default-background-invert-hover: rgb(35, 35, 35);

$color-default-text: rgb(136, 136, 136);
$color-default-text-hover: rgb(180, 180, 180);

$color-default-text-invert: rgb(204, 204, 204);
$color-default-text-invert-hover: rgb(204, 204, 204);


// OK
$color-ok-border: #2eb741;
$color-ok-background: #daffd4;
$color-ok-text: #185746;
$color-ok-hover: #76c875;

// Warning
$color-warning-border: #ffd29b;
$color-warning-background: #fff8cf;
$color-warning-hover: #e9cea5;
$color-warning-text: #7f5930;

// Error
$color-error-border: #ffb4aa;
$color-error-background: #ffe6e5;
$color-error-hover: #bf9f9d;
$color-error-text: #7f2013;

// Spezial
$color-private: rgb(214, 207, 194);
$color-private-border: rgb(198, 191, 178);

$color-highlight: rgb(127, 36, 33);

// image
$color-image-background: rgb(17, 17, 17);
$color-image-border: rgb(0, 0, 0);

//  Picto
$color-admin-picto: rgb(72, 72, 72);
$color-admin-picto-hover: rgb(190, 172, 252);
$color-admin-picto-active: rgba(197, 197, 197, 0.95);
$color-admin-picto-active-hover: rgb(50, 29, 69);

// Background
$color-admin-background: rgb(34, 34, 34);
$color-admin-background-hover: rgb(70, 47, 97);

$color-admin-background-active: rgb(151, 151, 151);
$color-admin-background-active-hover: rgb(119, 119, 119);

$color-admin-background-invert: rgb(151, 151, 151);
$color-admin-background-invert-hover: rgb(119, 119, 119);

// Border
$color-admin-border: rgb(41, 41, 41);
$color-admin-border-hover: rgb(65, 77, 71);
$color-admin-border-invert: rgb(190, 190, 190);

// Text
$color-admin-text: rgb(184, 184, 184);
$color-admin-label: rgb(165, 165, 165);
$color-admin-text-hover: rgb(115, 109, 107);

$color-admin-text-active: rgb(74, 68, 66);
$color-admin-text-active-hover: rgb(115, 109, 107);

$color-admin-text-invert: rgb(15, 15, 15);
$color-admin-text-invert-hover: rgb(32, 32, 32);

// Form
$color-form-text: rgb(214, 214, 214);
$color-form-background: rgb(78, 78, 78);
$color-form-border: rgb(99, 99, 99);

// info
$color-admin-info: rgb(75, 75, 75);
$color-admin-info-hover: rgb(233, 233, 233);
$color-admin-info-invert: rgb(97, 97, 97);
$color-admin-info-invert-hover: rgb(54, 54, 54);

// Intern
$color-admin-background-private: rgb(78, 78, 78);

// fine
$color-admin-fine: rgb(84, 84, 84);

// Buttons
$color-admin-buttons: rgb(0, 0, 0);
$color-admin-buttons-hover: rgb(15, 127, 28);
$color-admin-buttons-active: rgb(41, 41, 41);
$color-admin-buttons-active-hover: rgb(41, 9, 12);

// Marked
$color-admin-marked: rgb(93, 85, 133);
$color-admin-marked-text: rgb(133, 122, 192);
$color-admin-marked-lite: rgb(72, 66, 104);

$color-admin-marked-hover: rgb(139, 127, 200);

// badge
$color-badge: rgb(70, 70, 70);
$color-badge-marked: rgb(70, 70, 70);

$color-badge-inverted: rgb(70, 70, 70);
$color-badge-marked-inverted: rgb(70, 70, 70);
// fieldset
$color-fieldset-border: rgb(43, 43, 43);
$color-fieldset-background: rgb(24, 24, 27);

// toolbar
$color-toolbar-border: rgb(30, 30, 31);
$color-toolbar-background: rgb(25, 25, 27);

// toolbox
$color-toolbox-text: $color-admin-text;
$color-toolbox-label: $color-admin-label;
$color-toolbar-title: rgb(110, 109, 109);
$color-toolbox-border: rgb(230, 230, 230);
$color-toolbox-hover: rgb(249, 249, 249);
$color-toolbox-active: rgb(198, 203, 249);
$color-toolbox-background: rgb(54, 54, 54);
$color-toolbox-stroke: rgb(39, 39, 39);
$color-toolbox-stroke-invert: rgb(110, 109, 109);

// toolbox-tag
$color-toolbox-tag: rgb(173, 171, 171);
$color-toolbox-tag-hover: rgb(39, 39, 39);

$color-toolbox-tag-invert: rgb(255, 255, 255);
$color-toolbox-tag-invert-hover: rgb(52, 52, 52);

$color-toolbox-tag-background: rgba(41, 41, 41, 0.96);
$color-toolbox-tag-background-hover: rgb(131, 129, 129);

$color-toolbox-tag-background-invert: rgb(99, 99, 99);
$color-toolbox-tag-background-invert-hover: rgb(255, 255, 255);

$color-toolbox-tag-border: rgb(8, 8, 8);
$color-toolbox-tag-border-hover: rgb(255, 255, 255);

$color-toolbox-tag-border-invert: rgb(255, 255, 255);
$color-toolbox-tag-border-invert-hover: rgb(255, 255, 255);

$color-toolbox-tag-border-hover: rgb(255, 255, 255);
$color-toolbox-tag-border-invert-hover: rgb(255, 255, 255);

// sort
$color-sortable-placeholder-background: rgb(19, 19, 19);
$color-sortable-placeholder-border: rgb(82, 82, 82);
$color-sortable-active-background: rgb(182, 142, 61);
$color-sortable-active-text: rgb(182, 177, 151);

// Private
$color-admin-private: rgb(195, 204, 185);
$color-admin-private-hover: rgb(153, 160, 145);
$color-admin-private-active: rgb(123, 129, 117);

// Color Cover
// -- Default
$color-cover-text: #7a7a7a;
$color-cover-background: #9f9f9f;
$color-cover-border: transparent;

// -- :hover
$color-cover-text-hover: #959595;
$color-cover-background-hover: #575757;
$color-cover-border-hover: transparent;

// -- :active
$color-cover-text-active: #808080;
$color-cover-background-active: #000000;
$color-cover-border-active: transparent;

// Color Image
// -- Default
$color-image-text: #7a7a7a;
$color-image-background: #transparent;
$color-image-border: rgba(215, 215, 215, 0);

// -- :hover
$color-image-text-hover: #ededed;
$color-image-background-hover: #b3b3b3;
$color-image-border-hover: rgba(122, 122, 122, 0);

// -- :active
$color-image-text-active: #ffffff;
$color-image-background-active: #565656;
$color-image-border-active: rgba(122, 122, 122, 0);
