/*
*     THEME
*     =================
*     Dark
*
*/
#unig-main.unig-theme-dark {
  background-color: #131313;
  color: #d5d5d5; }

#unig-main.unig-theme-dark {
  /* @import "colors"; */ }
  #unig-main.unig-theme-dark .unig a.unig-button,
  #unig-main.unig-theme-dark .unig .unig-button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    color: #888888;
    border-color: #101010;
    background-color: #2d2d2d; }
    #unig-main.unig-theme-dark .unig a.unig-button-success, #unig-main.unig-theme-dark .unig a.unig-button-ok,
    #unig-main.unig-theme-dark .unig .unig-button-success,
    #unig-main.unig-theme-dark .unig .unig-button-ok {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      color: #185746;
      border-color: #2eb741;
      background-color: #daffd4; }
    #unig-main.unig-theme-dark .unig a.unig-button-warning,
    #unig-main.unig-theme-dark .unig .unig-button-warning {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      color: #7f5930;
      border-color: #ffd29b;
      background-color: #fff8cf; }
    #unig-main.unig-theme-dark .unig a.unig-button-error, #unig-main.unig-theme-dark .unig a.unig-button-danger,
    #unig-main.unig-theme-dark .unig .unig-button-error,
    #unig-main.unig-theme-dark .unig .unig-button-danger {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      color: #7f2013;
      border-color: #ffb4aa;
      background-color: #ffe6e5; }
  #unig-main.unig-theme-dark a.unig-button:hover,
  #unig-main.unig-theme-dark .unig-button:hover {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    color: #b4b4b4;
    border-color: #462f61;
    background-color: #462f61; }
  #unig-main.unig-theme-dark a.unig-button-success:hover, #unig-main.unig-theme-dark a.unig-button-ok:hover,
  #unig-main.unig-theme-dark .unig-button-success:hover,
  #unig-main.unig-theme-dark .unig-button-ok:hover {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    background-color: #76c875;
    border-color: #2eb741;
    color: #daffd4; }
  #unig-main.unig-theme-dark a.unig-button-warning:hover,
  #unig-main.unig-theme-dark .unig-button-warning:hover {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e9cea5;
    border-color: #ffd29b;
    color: #fff8cf; }
  #unig-main.unig-theme-dark a.unig-button-error:hover, #unig-main.unig-theme-dark a.unig-button-danger:hover,
  #unig-main.unig-theme-dark .unig-button-error:hover,
  #unig-main.unig-theme-dark .unig-button-danger:hover {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    background-color: #bf9f9d;
    border-color: #ffb4aa;
    color: #ffe6e5; }
  #unig-main.unig-theme-dark a.unig-button:active,
  #unig-main.unig-theme-dark .unig-button:active {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    color: #cccccc;
    border-color: rgba(11, 11, 11, 0.95);
    background-color: #4f4f4f; }
  #unig-main.unig-theme-dark a.unig-button-success:active, #unig-main.unig-theme-dark a.unig-button-ok:active,
  #unig-main.unig-theme-dark .unig-button-success:active,
  #unig-main.unig-theme-dark .unig-button-ok:active {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    background-color: #76c875;
    border-color: #2eb741;
    color: #daffd4; }
  #unig-main.unig-theme-dark a.unig-button-warning:active,
  #unig-main.unig-theme-dark .unig-button-warning:active {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e9cea5;
    border-color: #ffd29b;
    color: #fff8cf; }
  #unig-main.unig-theme-dark a.unig-button-error:active, #unig-main.unig-theme-dark a.unig-button-danger:active,
  #unig-main.unig-theme-dark .unig-button-error:active,
  #unig-main.unig-theme-dark .unig-button-danger:active {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px;
    background-color: #bf9f9d;
    border-color: #ffb4aa;
    color: #ffe6e5; }
  #unig-main.unig-theme-dark a.unig-button,
  #unig-main.unig-theme-dark .unig-button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px; }
    #unig-main.unig-theme-dark a.unig-button.active,
    #unig-main.unig-theme-dark .unig-button.active {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      color: #cccccc;
      border-color: rgba(11, 11, 11, 0.95);
      background-color: #4f4f4f; }
    #unig-main.unig-theme-dark a.unig-button-success.active, #unig-main.unig-theme-dark a.unig-button-ok.active,
    #unig-main.unig-theme-dark .unig-button-success.active,
    #unig-main.unig-theme-dark .unig-button-ok.active {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      background-color: #185746;
      border-color: #2eb741;
      color: #daffd4; }
    #unig-main.unig-theme-dark a.unig-button-warning.active,
    #unig-main.unig-theme-dark .unig-button-warning.active {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      background-color: #7f5930;
      border-color: #ffd29b;
      color: #fff8cf; }
    #unig-main.unig-theme-dark a.unig-button-error.active, #unig-main.unig-theme-dark a.unig-button-danger.active,
    #unig-main.unig-theme-dark .unig-button-error.active,
    #unig-main.unig-theme-dark .unig-button-danger.active {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      background-color: #7f2013;
      border-color: #ffb4aa;
      color: #ffe6e5; }
  #unig-main.unig-theme-dark a.unig-button,
  #unig-main.unig-theme-dark .unig-button {
    display: inline-block;
    box-sizing: border-box;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
    border: 1px solid #101010;
    cursor: pointer;
    border-radius: 5px; }
    #unig-main.unig-theme-dark a.unig-button.active:hover,
    #unig-main.unig-theme-dark .unig-button.active:hover {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      color: #cccccc;
      border-color: #333333;
      background-color: #232323; }
    #unig-main.unig-theme-dark a.unig-button-success.active:hover, #unig-main.unig-theme-dark a.unig-button-ok.active:hover,
    #unig-main.unig-theme-dark .unig-button-success.active:hover,
    #unig-main.unig-theme-dark .unig-button-ok.active:hover {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      background-color: #185746;
      border-color: #2eb741;
      color: #daffd4; }
    #unig-main.unig-theme-dark a.unig-button-warning.active:hover,
    #unig-main.unig-theme-dark .unig-button-warning.active:hover {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      background-color: #7f5930;
      border-color: #ffd29b;
      color: #fff8cf; }
    #unig-main.unig-theme-dark a.unig-button-error.active:hover, #unig-main.unig-theme-dark a.unig-button-danger.active:hover,
    #unig-main.unig-theme-dark .unig-button-error.active:hover,
    #unig-main.unig-theme-dark .unig-button-danger.active:hover {
      display: inline-block;
      box-sizing: border-box;
      font-size: 12px;
      padding: 2px 10px;
      text-decoration: none;
      border: 1px solid #101010;
      cursor: pointer;
      border-radius: 5px;
      background-color: #7f2013;
      border-color: #ffb4aa;
      color: #ffe6e5; }
  #unig-main.unig-theme-dark .unig-button i,
  #unig-main.unig-theme-dark .unig-button svg {
    margin-right: 4px; }
  #unig-main.unig-theme-dark .unig-button.unig-button-small {
    margin: 2px 5px;
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 2px; }
  #unig-main.unig-theme-dark .unig-button.unig-button-icon {
    border: none; }
    #unig-main.unig-theme-dark .unig-button.unig-button-icon i, #unig-main.unig-theme-dark .unig-button.unig-button-icon svg {
      margin: 0;
      padding: 0; }
  #unig-main.unig-theme-dark .unig-fieldset {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    border-radius: 2px;
    border: 1px solid;
    background: #3e3e3e; }
  #unig-main.unig-theme-dark .unig-fieldset.no-border {
    border: 1px solid transparent; }
  #unig-main.unig-theme-dark .unig-button.disabled {
    cursor: no-drop;
    pointer-events: none;
    opacity: 0.5; }
  #unig-main.unig-theme-dark .unig-button-group .unig-button {
    box-sizing: border-box;
    margin-right: -4px;
    border-radius: 0; }
  #unig-main.unig-theme-dark .unig-button-group .unig-button:first-child:hover,
  #unig-main.unig-theme-dark .unig-button-group .unig-button:first-child:active,
  #unig-main.unig-theme-dark .unig-button-group .unig-button:first-child {
    border-radius: 5px 0 0 5px; }
  #unig-main.unig-theme-dark .unig-button-group .unig-button:last-child:hover,
  #unig-main.unig-theme-dark .unig-button-group .unig-button:last-child:active,
  #unig-main.unig-theme-dark .unig-button-group .unig-button:last-child {
    border-radius: 0 5px 5px 0; }
  #unig-main.unig-theme-dark .private .unig-button {
    background-color: #c3ccb9; }
  #unig-main.unig-theme-dark .private .unig-button:hover {
    background-color: #99a091; }
  #unig-main.unig-theme-dark .private .unig-button:active {
    background-color: #7b8175; }
  #unig-main.unig-theme-dark ul.unig-tags-keywords {
    display: inline-block; }
  #unig-main.unig-theme-dark .unig-keyword-tag-id {
    display: none; }
  #unig-main.unig-theme-dark .unig-file-rating {
    margin: auto; }
  #unig-main.unig-theme-dark .unig-file-rating-up,
  #unig-main.unig-theme-dark .unig-file-rating-down {
    padding: 2px;
    display: inline-block;
    cursor: pointer; }
  #unig-main.unig-theme-dark .unig-file-rating-up {
    padding-right: 7px; }
  #unig-main.unig-theme-dark .unig-file-rating-down {
    padding-left: 7px; }
  #unig-main.unig-theme-dark .unig-file-picto.unig-file-rating-up:hover {
    color: #185746; }
  #unig-main.unig-theme-dark .unig-file-picto.unig-file-rating-down:hover {
    color: #7f2013; }
  #unig-main.unig-theme-dark .unig-file-rating-badge {
    display: inline-block;
    cursor: default;
    padding: 2px; }
  #unig-main.unig-theme-dark .unig-file-rating-badge.active {
    color: #d5d5d5;
    font-size: 1.3em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 1px 10px; }
  #unig-main.unig-theme-dark .unig-file-rating-badge.positiv {
    color: #185746; }
  #unig-main.unig-theme-dark .unig-file-rating-badge.negativ {
    color: #7f2013; }
  #unig-main.unig-theme-dark .unig-toolbox {
    background-color: #363636;
    border-bottom: solid 1px #272727;
    border-radius: 3px;
    font-size: 12px;
    margin: 0;
    padding: 0; }
  #unig-main.unig-theme-dark .unig-toolbox table {
    background-color: #363636; }
    #unig-main.unig-theme-dark .unig-toolbox table tr td,
    #unig-main.unig-theme-dark .unig-toolbox table tr th {
      background: transparent;
      border: 0;
      color: #b8b8b8; }
    #unig-main.unig-theme-dark .unig-toolbox table tr th {
      color: #a5a5a5; }
    #unig-main.unig-theme-dark .unig-toolbox table tr {
      background: #363636; }
    #unig-main.unig-theme-dark .unig-toolbox table tr[role="button"]:hover {
      border-radius: 5px;
      background-color: #f9f9f9;
      cursor: pointer; }
    #unig-main.unig-theme-dark .unig-toolbox table tr:active {
      background: #c6cbf9; }
    #unig-main.unig-theme-dark .unig-toolbox table tr.active:hover,
    #unig-main.unig-theme-dark .unig-toolbox table tr.active {
      background-color: #f9f9f9; }
    #unig-main.unig-theme-dark .unig-toolbox table tr.active:hover td,
    #unig-main.unig-theme-dark .unig-toolbox table tr.active td {
      opacity: 0.5;
      cursor: not-allowed; }
  #unig-main.unig-theme-dark .unig-toolbox-button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    padding: 3px 10px 2px 10px; }
  #unig-main.unig-theme-dark .unig-toolbox-trigger.active {
    background-color: #363636; }
  #unig-main.unig-theme-dark .unig-toolbox-item {
    cursor: pointer; }
  #unig-main.unig-theme-dark .unig-toolbox-tag-title-picto {
    display: inline-block;
    margin: 5px 1px 1px 10px;
    padding: 3px 5px; }
  #unig-main.unig-theme-dark .unig-tag {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
    padding: 3px 6px; }
  #unig-main.unig-theme-dark .unig-tag {
    background-color: rgba(41, 41, 41, 0.96);
    border-color: #080808;
    color: #adabab; }
    #unig-main.unig-theme-dark .unig-tag:hover {
      background-color: #838181;
      border-color: white;
      color: #272727; }
    #unig-main.unig-theme-dark .unig-tag:active, #unig-main.unig-theme-dark .unig-tag.active {
      background-color: #636363;
      border-color: white;
      color: white; }
    #unig-main.unig-theme-dark .unig-tag.active:hover {
      background-color: white;
      border-color: white;
      color: #343434; }
  #unig-main.unig-theme-dark .unig-file-options-toolbox {
    background-color: #363636;
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    padding: 10px 5px 5px 5px; }
  #unig-main.unig-theme-dark .unig-toolbar-footer .unig-button,
  #unig-main.unig-theme-dark .unig-toolbar-body .unig-button,
  #unig-main.unig-theme-dark .unig-toolbar-head .unig-button {
    border-radius: 2px;
    font-size: 0.8em;
    margin: 2px 5px;
    padding: 2px 5px; }
  #unig-main.unig-theme-dark .unig-toolbar-head-search {
    display: inline-block;
    float: right; }
  #unig-main.unig-theme-dark .unig-toolbar-head-search input {
    border-radius: 5px;
    font-size: 10px; }
  #unig-main.unig-theme-dark .unig-toolbar-head-title {
    border-bottom: solid 1px #272727;
    display: inline-block; }
  #unig-main.unig-theme-dark .unig-toolbar-head {
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 5px; }
  #unig-main.unig-theme-dark .unig-mark-all-tags,
  #unig-main.unig-theme-dark .unig-unmark-all-tags {
    border-color: inherit;
    background-color: inherit; }
    #unig-main.unig-theme-dark .unig-mark-all-tags .unig-tags-title,
    #unig-main.unig-theme-dark .unig-unmark-all-tags .unig-tags-title {
      display: none; }
  #unig-main.unig-theme-dark .unig-sortable-placeholder {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #131313;
    border: 3px dashed #525252; }
  #unig-main.unig-theme-dark .unig-sortable-weight {
    font-size: 1.3em; }
  #unig-main.unig-theme-dark .unig-sortable-head {
    display: flex;
    justify-content: center;
    cursor: move;
    background-color: #b68e3d;
    color: #b6b197; }
  #unig-main.unig-theme-dark ul.unig-images-small .unig-sortable-placeholder {
    min-width: 150px;
    min-height: 100px; }
  #unig-main.unig-theme-dark ul.unig-images-medium .unig-sortable-placeholder {
    min-width: 220px;
    min-height: 150px; }
  #unig-main.unig-theme-dark ul.unig-images-big .unig-sortable-placeholder {
    min-width: 440px;
    min-height: 280px; }
  #unig-main.unig-theme-dark .unig-fieldset {
    border: 1px solid #3e3e3e;
    background: #3e3e3e;
    padding: 5px; }
  #unig-main.unig-theme-dark .unig-fieldset.block {
    display: block; }
  #unig-main.unig-theme-dark .unig-fieldset-body.block {
    display: flex;
    justify-content: space-between; }
  #unig-main.unig-theme-dark .unig-fieldset-title {
    margin-right: 20px;
    color: #6e6d6d; }
  #unig-main.unig-theme-dark .unig-fieldset-title-top {
    padding-bottom: 9px;
    display: block; }
  #unig-main.unig-theme-dark .unig-toolbar-sort .unig-button {
    margin-right: 5px; }
  #unig-main.unig-theme-dark .unig-toolbar-sort .unig-button-ok {
    margin-left: 10px; }
  #unig-main.unig-theme-dark .unig-file-download-list-mark.marked {
    background-color: #5d5585; }
  #unig-main.unig-theme-dark ul.unig-gallery li.unig-file-item.marked {
    border-color: #5d5585; }
  #unig-main.unig-theme-dark div.unig-file-download-mark {
    width: 30px;
    padding: 0 7px;
    display: inline-block;
    margin-left: -5px; }
    #unig-main.unig-theme-dark div.unig-file-download-mark:hover {
      color: #5d5585;
      cursor: pointer; }
    #unig-main.unig-theme-dark div.unig-file-download-mark.marked {
      color: #5d5585; }
    #unig-main.unig-theme-dark div.unig-file-download-mark.marked:hover {
      color: #8b7fc8; }
  #unig-main.unig-theme-dark .unig-toolbar-download {
    display: flex; }
  #unig-main.unig-theme-dark ul.unig-dl {
    margin: 0;
    padding: 0; }
  #unig-main.unig-theme-dark li.unig-dl {
    padding: 0;
    display: inline-block;
    margin: 2px 5px;
    text-align: center;
    width: 100px;
    height: auto; }
  #unig-main.unig-theme-dark li.unig-dl .unig-dl-image {
    width: 100px;
    height: 60px;
    padding: 2px;
    border: 1px solid #3a3a3a;
    border-radius: 2px;
    background-color: #222222;
    margin: 2px; }
  #unig-main.unig-theme-dark li.unig-dl .unig-dl-image img {
    height: 100%;
    width: auto; }
  #unig-main.unig-theme-dark li.unig-dl .unig-dl-label {
    font-size: 10px;
    clear: both; }
  #unig-main.unig-theme-dark li.unig-dl .unig-dl-nid {
    display: none;
    font-size: 10px; }
  #unig-main.unig-theme-dark .unig-dl-info {
    width: 220px; }
    #unig-main.unig-theme-dark .unig-dl-info-head {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #3a3a3a;
      font-weight: bold; }
    #unig-main.unig-theme-dark .unig-dl-info-footer {
      margin: 6px 1px; }
  #unig-main.unig-theme-dark table.unig-bulk-download-table {
    width: 200px;
    padding: 0;
    border: 0;
    margin: 10px 10px 20px 0; }
  #unig-main.unig-theme-dark td.unig-file-download-table-label {
    font-weight: bold;
    font-size: 1em; }
  #unig-main.unig-theme-dark td.unig-file-download-table-width {
    color: #4b4b4b;
    text-align: right; }
  #unig-main.unig-theme-dark td.unig-file-download-table-size {
    text-align: right; }
  #unig-main.unig-theme-dark .unig-button-small.unig-button-dl-folder-open i,
  #unig-main.unig-theme-dark .unig-button-small.unig-button-dl-folder-close i {
    padding: 2px;
    font-size: 1.5em;
    margin: 0; }
  #unig-main.unig-theme-dark .badge {
    display: inline-block;
    padding: 1px 7px;
    border-radius: 10px;
    background-color: #464646;
    color: #979797; }
  #unig-main.unig-theme-dark .badge-marked {
    background-color: #464646;
    color: #979797; }

#unig-main.unig-theme-dark .unig-image-background {
  background-color: #111111; }
#unig-main.unig-theme-dark ul.unig-gallery {
  background-color: #2d2d2d; }
#unig-main.unig-theme-dark ul.unig-gallery li.unig-file-edit.active {
  border: 2px solid #7f2421; }
#unig-main.unig-theme-dark ul.unig-gallery li.unig-file-item {
  background-color: #222222;
  border: 2px solid #3a3a3a; }
#unig-main.unig-theme-dark .unig-file-item-text {
  color: #b8b8b8; }
#unig-main.unig-theme-dark .unig-file-item-info {
  color: #4b4b4b; }
#unig-main.unig-theme-dark .unig-file-picto {
  color: #484848; }
#unig-main.unig-theme-dark .unig-file-picto:hover {
  color: #beacfc; }
#unig-main.unig-theme-dark .unig-file-picto.active {
  color: rgba(197, 197, 197, 0.95); }
#unig-main.unig-theme-dark .unig-file-picto.active:hover {
  color: #321d45; }
#unig-main.unig-theme-dark .unig-file-picto:active {
  color: rgba(197, 197, 197, 0.95); }
#unig-main.unig-theme-dark .unig-file-nid {
  border-color: #4b4b4b; }
#unig-main.unig-theme-dark .unig-project {
  background-color: #222222;
  border: 2px solid #3a3a3a; }
#unig-main.unig-theme-dark li.unig-project-list-item.private article {
  background-color: #c3ccb9; }
#unig-main.unig-theme-dark .unig-project-list-toolbar {
  border-top: 1px solid #3a3a3a; }
#unig-main.unig-theme-dark input,
#unig-main.unig-theme-dark textarea {
  background-color: #4e4e4e;
  border: 1px solid #636363;
  color: #d6d6d6; }
#unig-main.unig-theme-dark .unig-toolbar {
  border-color: #575757;
  background: #2d2d2d; }
#unig-main.unig-theme-dark a.unig-button,
#unig-main.unig-theme-dark .unig-button {
  color: #888888;
  border-color: #101010;
  background-color: #2d2d2d; }
  #unig-main.unig-theme-dark a.unig-button-success, #unig-main.unig-theme-dark a.unig-button-ok,
  #unig-main.unig-theme-dark .unig-button-success,
  #unig-main.unig-theme-dark .unig-button-ok {
    color: #185746;
    border-color: #2eb741;
    background-color: #daffd4; }
  #unig-main.unig-theme-dark a.unig-button-warning,
  #unig-main.unig-theme-dark .unig-button-warning {
    color: #7f5930;
    border-color: #ffd29b;
    background-color: #fff8cf; }
  #unig-main.unig-theme-dark a.unig-button-error, #unig-main.unig-theme-dark a.unig-button-danger,
  #unig-main.unig-theme-dark .unig-button-error,
  #unig-main.unig-theme-dark .unig-button-danger {
    color: #7f2013;
    border-color: #ffb4aa;
    background-color: #ffe6e5; }

/*# sourceMappingURL=dark.css.map */
