@import "colors-dark";
main#content.unig-theme-dark {
  background-color: $color-background;
  color: $color-text;
}
main#content.unig-theme-dark {
  @import "../buttons";
  @import "../download";
  @import "../keyword_people";
  @import "../rating";
  @import "../toolbox";
  @import "../sortable";

}
main#content.unig-theme-dark {

  .unig-lightgallery {
  }
  .unig-image-background {
    background-color: $color-image-background;
  }
  ul.unig-gallery li.unig-file-edit.active {
    border: 2px solid $color-highlight;
  }

  ul.unig-gallery li.unig-file-item {
    background-color: $color-admin-background;
    border: 2px solid $color-admin-border;
  }

  .unig-file-item-text {
    color: $color-admin-text;
  }
  .unig-file-item-info {
    color: $color-admin-info;
  }
  .unig-file-picto {
    color: $color-admin-picto;
  }
  .unig-file-picto:hover {
    color: $color-admin-picto-hover;
  }
  .unig-file-picto.active {
    color: $color-admin-picto-active;
  }
  .unig-file-picto.active:hover {
    color: $color-admin-picto-active-hover;
  }
  .unig-file-picto:active {
    color: $color-admin-picto-active;
  }
  .unig-file-nid {
    border-color: $color-admin-info;
  }
}
// main#content