@import "colors-dark";
#unig-main.unig-theme-dark {
  background-color: $color-background;
  color: $color-text;
}
#unig-main.unig-theme-dark {
  @import "../buttons";
  @import "../keyword_people";
  @import "../rating";
  @import "../toolbox";
  @import "../sortable";
  @import "../fieldset";
  @import "../download";
}
#unig-main.unig-theme-dark {
  .unig-lightgallery {
  }
  .unig-image-background {
    background-color: $color-image-background;
  }
  ul.unig-gallery {
    background-color: $color-default-background-file-list;
  }
  ul.unig-gallery li.unig-file-edit.active {
    border: 2px solid $color-highlight;
  }

  ul.unig-gallery li.unig-file-item {
    background-color: $color-admin-background;
    border: 2px solid $color-admin-border;
  }

  .unig-file-item-text {
    color: $color-admin-text;
  }
  .unig-file-item-info {
    color: $color-admin-info;
  }
  .unig-file-picto {
    color: $color-admin-picto;
  }
  .unig-file-picto:hover {
    color: $color-admin-picto-hover;
  }
  .unig-file-picto.active {
    color: $color-admin-picto-active;
  }
  .unig-file-picto.active:hover {
    color: $color-admin-picto-active-hover;
  }
  .unig-file-picto:active {
    color: $color-admin-picto-active;
  }
  .unig-file-nid {
    border-color: $color-admin-info;
  }

  // ===== Project List
  .unig-project {
    background-color: $color-admin-background;
    border: 2px solid $color-admin-background;
  }

  .unig-project-text {
    background-color: $color-admin-background;
    border: 2px solid $color-admin-background;
  }

  li.unig-project-list-item article {
    background-color: $color-admin-background;
    border: 2px solid $color-admin-background;
  }

  li.unig-project-list-item.private article {
    background-color: $color-admin-background;
    border: 2px solid $color-admin-marked;
  }

  .unig-project-container.private .unig-project-public-private {
    color: $color-admin-marked;
  }

  .unig-project-list-toolbar {
    border-top: 1px solid $color-admin-border;
  }

  input,
  textarea {
    background-color: $color-form-background;
    border: 1px solid $color-form-border;
    color: $color-form-text;
  }

  .unig-toolbar {
    border-color: $color-toolbar-border;
    background: $color-toolbar-background;
  }


  // default
   a.unig-button,
   .unig-button {
    color: $color-default-text;
    border-color: $color-default-border;
    background-color: $color-default-background;

    &-success,
    &-ok {
      color: $color-ok-text;
      border-color: $color-ok-border;
      background-color: $color-ok-background;
    }

    &-warning {
      color: $color-warning-text;
      border-color: $color-warning-border;
      background-color: $color-warning-background;
    }

    &-error,
    &-danger {
      color: $color-error-text;
      border-color: $color-error-border;
      background-color: $color-error-background;
    }
  }
}
