{# Toolbar - Filter  #}
<div class="unig-toolbar unig-toolbar-filter" style="display: block">



  {# Toolbar Body #}
  <div class="unig-toolbar-body">


    <span class="unig-filter number-of-visible unig-add-visible-to-download-list-trigger">12</span>

    <span class="unig-filter-text-people">Images found with Person</span>

{# Peoples #}
    <span class="unig-filter-item" data-id="hans">Hans
      <span
        class="unig-filter-item-remove unig-filter-item-remove-trigger" > <i class="fa fa-times"></i>
      </span>
    </span>

    {# Operator #}
    <span class="unig-filter-operator">or
      <span
        class="unig-filter-operator-icon unig-filter-operator-trigger"> <i class="fa fa-caret-down"></i>
      </span>
    </span>

    <span class="unig-filter-item" data-id="anna">Anna
      <span
        class="unig-filter-item-remove unig-filter-item-remove-trigger"  > <i class="fa fa-times"></i>
      </span>
    </span>



    {# Keywords #}
    <span class="unig-filter-text-keyword">and Keyword</span>

    <span class="unig-filter-item" data-id="paar">Paar
      <span
        class="unig-filter-item-remove unig-filter-item-remove-trigger"   > <i class="fa fa-times"></i>
      </span>
    </span>


  </div>

  {# Toolbar Footer #}
  <div class="unig-toolbar-footer">


    {# Button clear-filter #}
    <div class="unig-button   unig-clear-filter-trigger">
      <i class="far fa-trash" aria-hidden="true"></i>
      <span class="unig-button-label">{% trans %}  Clear Filter {% endtrans %}</span>
    </div>


    {# Button add-visible-to-download-list #}
    <div class="unig-button  unig-add-visible-to-download-list-trigger">
      <i class="far fa-list" aria-hidden="true"></i>
      <span class="unig-button-label"> <span
          class="number-of-visible">12</span> {% trans %}Bilder in die Download-Liste legen {% endtrans %}</span>
    </div>


  </div>
</div> {# Toolbar - People #}
