{# Toolbar - Filter  #}
<div class="unig-toolbar unig-toolbar-filter" style="display: block">


  {# Toolbar Body #}
  <div class="unig-toolbar-body">

    {# Row #}
    <div class="unig-row-filter">

      {# Process Indicator #}
      <div class="unig-filter-process">
        <div class="unig-filter-process-icon" style="display: none">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </div>

      {# JS Placeholder#}
      <div class="unig-filter-placeholder"></div>

    </div>
  </div>

  {# Toolbar Footer #}
  <div class="unig-toolbar-footer">


    {#
        #}
    {# Button clear-filter #}{#

        <div class="unig-button   unig-clear-filter-trigger">
          <i class="far fa-trash" aria-hidden="true"></i>
          <span class="unig-button-label">{% trans %}  Clear Filter {% endtrans %}</span>
        </div>


        #}
    {# Button add-visible-to-download-list #}{#

        <div class="unig-button  unig-add-visible-to-download-list-trigger">
          <i class="far fa-list" aria-hidden="true"></i>
          <span class="unig-button-label"> <span
              class="number-of-visible">12</span> {% trans %}Bilder in die Download-Liste legen {% endtrans %}</span>
        </div>
    #}


  </div>
</div> {# Toolbar - People #}
