// dont use import color -> it breaks themes

@mixin unig-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid $color-default-border;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin: 2px;
}
// default
a.unig-button,
.unig-button {
  @include unig-button;
  color: $color-default-text;
  border-color: $color-default-border;
  background-color: $color-default-background;

  &-success,
  &-ok {
    @include unig-button;
    color: $color-ok-text;
    border-color: $color-ok-border;
    background-color: $color-ok-background;
  }

  &-warning {
    @include unig-button;
    color: $color-warning-text;
    border-color: $color-warning-border;
    background-color: $color-warning-background;
  }

  &-error,
  &-danger {
    @include unig-button;
    color: $color-error-text;
    border-color: $color-error-border;
    background-color: $color-error-background;
  }

}
// :hover
a.unig-button,
.unig-button {

  &:hover {
    @include unig-button;
    color: $color-default-text-hover;
    border-color: $color-default-border-hover;
    background-color: $color-default-background-hover;
  }

  &-success:hover,
  &-ok:hover {
    @include unig-button;
    background-color: $color-ok-hover;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning:hover {
    @include unig-button;
    background-color: $color-warning-hover;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error:hover,
  &-danger:hover {
    @include unig-button;
    background-color: $color-error-hover;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}
// :active
a.unig-button,
.unig-button {

  &:active {
    @include unig-button;
    color: $color-default-text-invert;
    border-color: $color-default-border-invert;
    background-color: $color-default-background-invert;
  }

  &-success:active,
  &-ok:active {
    @include unig-button;
    background-color: $color-ok-hover;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning:active {
    @include unig-button;
    background-color: $color-warning-hover;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error:active,
  &-danger:active {
    @include unig-button;
    background-color: $color-error-hover;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}
// .active
a.unig-button,
.unig-button {
  @include unig-button;

  &.active {
    @include unig-button;
    color: $color-default-text-invert;
    border-color: $color-default-border-invert;
    background-color: $color-default-background-invert;
  }

  &-success.active,
  &-ok.active {
    @include unig-button;
    background-color: $color-ok-text;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning.active {
    @include unig-button;
    background-color: $color-warning-text;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error.active,
  &-danger.active {
    @include unig-button;
    background-color: $color-error-text;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}
// .active:over
a.unig-button,
.unig-button {
  @include unig-button;

  &.active:hover {
    @include unig-button;
    color: $color-default-text-invert-hover;
    border-color: $color-default-border-invert-hover;
    background-color: $color-default-background-invert-hover;
  }

  &-success.active:hover,
  &-ok.active:hover {
    @include unig-button;
    background-color: $color-ok-text;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning.active:hover {
    @include unig-button;
    background-color: $color-warning-text;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error.active:hover,
  &-danger.active:hover {
    @include unig-button;
    background-color: $color-error-text;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}
// fontawesome
.unig-button .fa {
  margin-right: 4px;
}
// fontawesome
.unig-button.unig-button-small {
margin: 2px 5px;
  padding: 2px 5px;
  font-size: 0.8em;
border-radius:2px;
}


// unig-toolbar
.unig-toolbar {
  border: 1px solid $color-toolbar-border;
  background: $color-toolbar-background;
  padding: 10px;
}
// Fieldset
.unig-fieldset {
  display: inline-block;
  padding: 1px;
  margin: 1px;
  border-radius: 2px;
  border: 1px solid $color-fieldset-border;
  background: $color-fieldset-background;
}
.unig-fieldset.no-border {
  border: 1px solid transparent;
}

