// dont use import color -> it breaks themes

@mixin unig-button {
  display: inline-block;
  box-sizing: border-box;
  font-size: 0.9em;
  padding: 2px 10px;
  text-decoration: none;
  border: 1px solid $color-default-border;
  cursor: pointer;
  border-radius: 5px;
}

// default
.unig a.unig-button,
.unig .unig-button {
  @include unig-button;
  color: $color-default-text;
  border-color: $color-default-border;
  background-color: $color-default-background;

  &-success,
  &-ok {
    @include unig-button;
    color: $color-ok-text;
    border-color: $color-ok-border;
    background-color: $color-ok-background;
  }

  &-warning {
    @include unig-button;
    color: $color-warning-text;
    border-color: $color-warning-border;
    background-color: $color-warning-background;
  }

  &-error,
  &-danger {
    @include unig-button;
    color: $color-error-text;
    border-color: $color-error-border;
    background-color: $color-error-background;
  }

}

// :hover
a.unig-button,
.unig-button {

  &:hover {
    @include unig-button;
    color: $color-default-text-hover;
    border-color: $color-default-border-hover;
    background-color: $color-default-background-hover;
  }

  &-success:hover,
  &-ok:hover {
    @include unig-button;
    background-color: $color-ok-hover;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning:hover {
    @include unig-button;
    background-color: $color-warning-hover;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error:hover,
  &-danger:hover {
    @include unig-button;
    background-color: $color-error-hover;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}

// :active
a.unig-button,
.unig-button {

  &:active {
    @include unig-button;
    color: $color-default-text-invert;
    border-color: $color-default-border-invert;
    background-color: $color-default-background-invert;
  }

  &-success:active,
  &-ok:active {
    @include unig-button;
    background-color: $color-ok-hover;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning:active {
    @include unig-button;
    background-color: $color-warning-hover;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error:active,
  &-danger:active {
    @include unig-button;
    background-color: $color-error-hover;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}

// .active
a.unig-button,
.unig-button {
  @include unig-button;

  &.active {
    @include unig-button;
    color: $color-default-text-invert;
    border-color: $color-default-border-invert;
    background-color: $color-default-background-invert;
  }

  &-success.active,
  &-ok.active {
    @include unig-button;
    background-color: $color-ok-text;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning.active {
    @include unig-button;
    background-color: $color-warning-text;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error.active,
  &-danger.active {
    @include unig-button;
    background-color: $color-error-text;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}

// .active:over
a.unig-button,
.unig-button {
  @include unig-button;

  &.active:hover {
    @include unig-button;
    color: $color-default-text-invert-hover;
    border-color: $color-default-border-invert-hover;
    background-color: $color-default-background-invert-hover;
  }

  &-success.active:hover,
  &-ok.active:hover {
    @include unig-button;
    background-color: $color-ok-text;
    border-color: $color-ok-border;
    color: $color-ok-background;
  }

  &-warning.active:hover {
    @include unig-button;
    background-color: $color-warning-text;
    border-color: $color-warning-border;
    color: $color-warning-background;
  }

  &-error.active:hover,
  &-danger.active:hover {
    @include unig-button;
    background-color: $color-error-text;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}

// fontawesome Icons
.unig-button i,
.unig-button svg {
  margin-right: 4px;
}




.unig-button.unig-button-small {
  margin: 2px 5px;
  padding: 2px 5px;
  font-size: 0.8em;
  border-radius: 2px;
}


// Button only icon



// default
.unig a.unig-button-icon,
.unig .unig-button-icon {
  @include unig-button;
  color: $color-default-text;
  border-color: transparent;
  background-color: transparent;
  opacity: 0.8;

  i, svg {
    margin: 0;
    padding: 0;
  }

  &-info {
    @include unig-button;
    color: $color-admin-info;
    border-color: transparent;
    background-color: transparent;
  }

  &-success,
  &-ok {
    @include unig-button;
    color: $color-ok-text;
    border-color: transparent;
    background-color: transparent;
  }

  &-warning {
    @include unig-button;
    color: $color-warning-text;
    border-color: transparent;
    background-color: transparent;
  }

  &-error,
  &-danger {
    @include unig-button;
    color: $color-error-text;
    border-color: transparent;
    background-color: transparent;
  }

}

// :hover
a.unig-button-icon,
.unig-button-icon {

  &:hover {
    @include unig-button;
    color: $color-default-text-hover;
    border-color: transparent;
    background-color: transparent;
    opacity: 1;
  }
  &-info:hover {
    @include unig-button;
    color: $color-admin-text;
    border-color: transparent;
    background-color: transparent;
    opacity: 1;

  }

  &-success:hover,
  &-ok:hover {
    @include unig-button;
    background-color: transparent;
    border-color: transparent;
    color: $color-ok-background;
    opacity: 1;

  }

  &-warning:hover {
    @include unig-button;
    background-color: transparent;
    border-color: transparent;
    color: $color-warning-background;
    opacity: 1;

  }

  &-error:hover,
  &-danger:hover {
    @include unig-button;
    background-color: transparent;
    border-color: transparent;
    color: $color-error-background;
    opacity: 1;

  }

}

// :active
a.unig-button-icon,
.unig-button-icon {

  &:active {
    @include unig-button;
    color: $color-admin-text-active;
    border-color: transparent;
    background-color: $color-admin-background-active;
  }

  &-info:active {
    @include unig-button;
    color: $color-admin-text-active;
    border-color: transparent;
    background-color: $color-admin-background-active;
  }
  &-success:active,
  &-ok:active {
    @include unig-button;
    background-color: transparent;
    border-color: transparent;
    color: $color-ok-background;
  }

  &-warning:active {
    @include unig-button;
    background-color: transparent;
    border-color: transparent;
    color: $color-warning-background;
  }

  &-error:active,
  &-danger:active {
    @include unig-button;
    background-color: transparent;
    border-color: transparent;
    color: $color-error-background;
  }

}



// Fieldset
.unig-fieldset {
  display: inline-block;
  padding: 1px;
  margin: 1px;
  border-radius: 2px;
  border: 1px solid;
  background: $color-fieldset-background;
}

.unig-fieldset.no-border {
  border: 1px solid transparent;
}

.unig-button.disabled {
  cursor: no-drop;
  pointer-events: none;
  opacity: 0.5;
}

.unig-button-group .unig-button {
  box-sizing: border-box;
  margin-right: -4px;
  border-radius: 0;
}

.unig-button-group .unig-button:first-child:hover,
.unig-button-group .unig-button:first-child:active,
.unig-button-group .unig-button:first-child {
  border-radius: 5px 0 0 5px;
}

.unig-button-group .unig-button:last-child:hover,
.unig-button-group .unig-button:last-child:active,
.unig-button-group .unig-button:last-child {
  border-radius: 0 5px 5px 0;
}

.private {

  .unig-button {
    background-color: $color-admin-private;
  }

  .unig-button:hover {
    background-color: $color-admin-private-hover;
  }

  .unig-button:active {
    background-color: $color-admin-private-active;
  }
}

// https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
.unig-button > *,
a.unig-button > *,
.unig-button-icon > *,
.unig-button-icon-info > *{
  pointer-events: none;
}
