$color-90: rgb(17, 17, 17);
$color-80: rgb(41, 41, 41);
$color-50: rgb(126, 126, 126);
$color-20: rgb(194, 194, 194);
$color-10: rgb(210, 210, 210);
$color-5: rgb(233, 233, 233);

$color-debug: rgb(255, 221, 138);