/*
*     THEME
*     =================
*     bright
*
*/

// General
$color-background: rgb(255, 255, 255);
$color-text: rgb(44, 44, 44);
$color-background-invert: rgb(35, 35, 35);
$color-text-invert: rgb(230, 230, 230);

$color-separator: rgb(230, 230, 230);
$color-separator-invert: rgb(74, 74, 74);

// Grayscale
$color-100: rgb(0, 0, 0);
$color-90: rgb(17, 17, 17);
$color-80: rgb(41, 41, 41);
$color-70: rgb(77, 77, 77);
$color-60: rgb(102, 102, 102);
$color-50: rgb(128, 128, 128);
$color-40: rgb(179, 179, 179);
$color-30: rgb(179, 179, 179);
$color-20: rgb(204, 204, 204);
$color-15: rgb(217, 217, 217);
$color-10: rgb(230, 230, 230);
$color-5: rgb(225, 225, 225);
$color-2: rgb(246, 246, 246);
$color-0: rgb(255, 255, 255);

$color-debug: rgb(255, 221, 138);

// default
$color-default-border: rgb(204, 204, 204);
$color-default-border-hover: rgb(147, 147, 147);

$color-default-border-invert: rgba(11, 11, 11, 0.95);
$color-default-border-invert-hover: rgb(51, 51, 51);

$color-default-background: rgb(231, 231, 231);
$color-default-background-hover: rgb(199, 199, 199);
$color-default-background-file-list: rgb(199, 199, 199);

$color-default-background-invert: rgb(79, 79, 79);
$color-default-background-invert-hover: rgb(35, 35, 35);

$color-default-text: rgb(41, 41, 41);
$color-default-text-hover: rgb(50, 50, 50);

$color-default-text-invert: rgb(204, 204, 204);
$color-default-text-invert-hover: rgb(204, 204, 204);

// OK
$color-success: #0f7f34;

$color-ok-border: #2eb741;
$color-ok-background: #daffd4;
$color-ok-text: #0f7f34;
$color-ok-hover: #76c875;

// Warning
$color-warning: #ffbd57;

$color-warning-border: #ffd29b;
$color-warning-background: #fff8cf;
$color-warning-hover: #e9cea5;
$color-warning-text: #7f5930;

$color-working: #7f5930;

// Error
$color-error: #a2132b;

$color-error-border: #ffb4aa;
$color-error-background: #ffe6e5;
$color-error-hover: #bf9f9d;
$color-error-text: #a2132b;

// Spezial
$color-private: rgb(214, 207, 194);
$color-private-border: rgb(198, 191, 178);

$color-highlight: rgb(127, 36, 33);

// Image
$color-image-border: rgb(0, 0, 0);
$color-image-background: rgb(33, 33, 33);

// Picto
$color-admin-picto: rgb(211, 210, 210);
$color-admin-picto-hover: rgb(170, 92, 252);
$color-admin-picto-active: rgb(0, 0, 0);
$color-admin-picto-active-hover: rgb(141, 82, 186);

// Background
$color-admin-background: rgb(230, 230, 230);
$color-admin-background-hover: rgb(184, 184, 184);

$color-admin-background-active: rgb(151, 151, 151);
$color-admin-background-active-hover: rgb(119, 119, 119);

$color-admin-background-invert: rgb(81, 81, 81);
$color-admin-background-invert-hover: rgb(15, 15, 15);

// Border
$color-admin-border: rgb(214, 214, 214);
$color-admin-border-hover: rgb(65, 77, 71);
$color-admin-border-invert: rgb(23, 23, 23);

// Text
$color-admin-text: rgb(41, 41, 41);
$color-admin-label: rgb(68, 68, 68);
$color-admin-text-hover: rgb(240, 240, 240);

$color-admin-text-active: rgb(74, 68, 66);
$color-admin-text-active-hover: rgb(115, 109, 107);

$color-admin-text-invert: rgb(230, 230, 230);
$color-admin-text-invert-hover: rgb(62, 83, 230);

// info
$color-admin-info: rgb(143, 143, 143);
$color-admin-info-hover: rgb(91, 91, 91);
$color-admin-info-invert: rgb(168, 168, 168);
$color-admin-info-invert-hover: rgb(114, 114, 114);

// fine
$color-admin-fine: rgb(190, 190, 190);

// favorite
$color-admin-favorite: rgb(255, 0, 4);

// Buttons
$color-admin-buttons: rgb(179, 179, 179);
$color-admin-buttons-hover: rgb(127, 36, 33);
$color-admin-buttons-active: rgb(41, 41, 41);
$color-admin-buttons-active-hover: rgb(41, 41, 41);

// Marked
$color-admin-marked: rgb(80, 78, 105);
$color-admin-marked-text: rgb(107, 105, 162);
$color-admin-marked-lite: rgb(157, 152, 210);

$color-admin-marked-hover: rgb(73, 70, 145);

// badge
$color-badge: rgb(195, 195, 195);
$color-badge-marked: rgb(195, 195, 195);

$color-badge-inverted: rgb(195, 195, 195);
$color-badge-marked-inverted: rgb(195, 195, 195);

// toolbar
$color-toolbar-title: rgb(191, 191, 191);
$color-toolbar-border: rgb(230, 230, 230);
$color-toolbar-background: rgb(246, 246, 246);
$color-toolbar-background-header: rgb(143, 143, 143);
$color-toolbar-stroke: rgb(227, 226, 226);
$color-toolbar-stroke-invert: rgb(110, 109, 109);

// fieldset
$color-fieldset-border: rgb(234, 237, 240);
$color-fieldset-background: rgb(247, 250, 253);
$color-fieldset-stroke: rgb(227, 226, 226);
$color-fieldset-stroke-invert: rgb(110, 109, 109);

// toolbox
$color-toolbox-text: $color-admin-text;
$color-toolbox-label: $color-admin-label;
$color-toolbox-border: rgb(230, 230, 230);
$color-toolbox-background: rgb(245, 245, 245);
$color-toolbox-hover: rgb(193, 193, 193);
$color-toolbox-active: rgb(194, 222, 249);
$color-toolbox-stroke: rgb(227, 226, 226);
$color-toolbox-stroke-invert: rgb(110, 109, 109);

// toolbox-tag
$color-toolbox-tag: rgb(52, 52, 52);
$color-toolbox-tag-hover: rgb(28, 28, 28);

$color-toolbox-tag-invert: rgb(214, 212, 212);
$color-toolbox-tag-invert-hover: rgb(184, 184, 184);

$color-toolbox-tag-background: rgb(228, 227, 227);
$color-toolbox-tag-background-hover: rgb(173, 171, 171);

$color-toolbox-tag-background-invert: rgb(0, 8, 39);
$color-toolbox-tag-background-invert-hover: rgb(160, 160, 160);

$color-toolbox-tag-border: rgb(255, 255, 255);
$color-toolbox-tag-border-hover: rgb(255, 255, 255);

$color-toolbox-tag-border-invert: rgb(58, 55, 56);
$color-toolbox-tag-border-invert-hover: rgb(255, 255, 255);

$color-toolbox-tag-border-hover: rgb(255, 255, 255);
$color-toolbox-tag-border-invert-hover: rgb(255, 255, 255);

// sort
$color-sortable-placeholder-background: rgba(0, 0, 0, 0.1);
$color-sortable-placeholder-border: rgba(0, 0, 0, 0.2);
$color-sortable-active-background: rgba(0, 0, 0, 0.8);
$color-sortable-active-text: rgb(255, 251, 199);

// Private
$color-admin-private: rgb(106, 127, 196);
$color-admin-private-hover: rgb(50, 49, 136);
$color-admin-private-active: rgb(29, 66, 129);

// Color Cover
// -- Default
$color-cover-text: #7a7a7a;
$color-cover-background: #9f9f9f;
$color-cover-border: transparent;

// -- :hover
$color-cover-text-hover: #959595;
$color-cover-background-hover: #575757;
$color-cover-border-hover: transparent;

// -- :active
$color-cover-text-active: #808080;
$color-cover-background-active: #000;
$color-cover-border-active: transparent;

// Color Image
// -- Default
$color-image-text: #7a7a7a;
$color-image-background: transparent;
$color-image-border: rgba(215, 215, 215, 0);

// -- :hover
$color-image-text-hover: #ededed;
$color-image-background-hover: #b3b3b3;
$color-image-border-hover: rgba(122, 122, 122, 0);

// -- :active
$color-image-text-active: #fff;
$color-image-background-active: #565656;
$color-image-border-active: rgba(122, 122, 122, 0);

// Shadow
$box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.4);
