/* @import "colors"; */

div.unig-file-download-toolbox {
}
ul.unig-file-download-list {
  margin: 0;
  padding: 0;
}
//
//  =====  List  =====
//
li.unig-file-download-list-mark {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
li.unig-file-download-list-mark,
li.unig-file-download-list-direct {
  // border: solid 1px gray;
  list-style-type: none;
  margin: 0;
  padding: 3px 10px;
  border-bottom: solid 1px $color-toolbox-stroke;
  color: $color-admin-text;
  cursor: pointer;
  border-radius: 3px;
}


li.unig-file-download-list-direct:hover {
  background-color: $color-admin-background-hover;
  color: $color-admin-info-hover;
}

li.unig-file-download-list-direct:active {
  background-color: $color-admin-background-active;
  color: $color-admin-text-invert;
}

li.unig-file-download-list-mark:hover{
  background-color: $color-admin-marked-hover;
  color: $color-admin-text-hover;
}
li.unig-file-download-list-mark:active {
  background-color: $color-admin-marked-hover;
  color: $color-admin-text;
}

// Icons
ul.unig-file-download-list i.fa {
  margin: 0 3px 0 3px;
}
.unig-file-download-list-picto,
.unig-file-download-list-label,
.unig-file-download-list-width,
.unig-file-download-list-size {
  display: inline-block;
  // border: silver solid 1px;
}
.unig-file-download-list-picto {
  display: inline-block;
  margin-right: 10px;
  color: $color-admin-info;
}
.unig-file-download-list-label {
  width: 30px;
}
.unig-file-download-list-width {
  min-width: 50px;
  text-align: right;
  margin-right: 10px;
}
.unig-file-download-list-size {
  width: auto;
}
.unig-file-download-list-mark-text {
}
//
// =====  Mark as Download
//
div.unig-file-download-mark {
  width: 30px;
  padding: 0 7px;
  display: inline-block;
  margin-left: -5px;

  &:hover {
    color: $color-admin-marked;
    cursor: pointer;
  }

  &.marked {
    color: $color-admin-marked;
  }
  &.marked:hover {
    color:  $color-admin-marked-hover;
  }
}
.unig-file-download-list-mark.marked {
  background-color: $color-admin-marked;
}
ul.unig-gallery li.unig-file-item.marked {
  border-color: $color-admin-marked;
}

.unig-file-head-info{
min-width: 40px;
}