/* @import "colors"; */

div.unig-file-download-toolbox {
}
ul.unig-file-download-list {
  margin: 0;
  padding: 0;
}
//
//  =====  List  =====
//
li.unig-file-download-list-mark {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
li.unig-file-download-list-mark,
li.unig-file-download-list-direct {
  // border: solid 1px gray;
  list-style-type: none;
  margin: 0;
  padding: 3px 10px;
  border-bottom: solid 1px $color-toolbox-stroke;
  color: $color-admin-text;
  cursor: pointer;
  border-radius: 3px;
}
li.unig-file-download-list-direct:hover {
  background-color: $color-admin-background-hover;
  color: $color-admin-info-hover;
}
li.unig-file-download-list-direct:active {
  background-color: $color-admin-background-active;
  color: $color-admin-text-invert;
}
li.unig-file-download-list-mark:hover {
  background-color: $color-admin-marked-hover;
  color: $color-admin-text-hover;
}
li.unig-file-download-list-mark:active {
  background-color: $color-admin-marked-hover;
  color: $color-admin-text;
}
// Icons
ul.unig-file-download-list i.fa {
  margin: 0 3px 0 3px;
}
.unig-file-download-list-picto,
.unig-file-download-list-label,
.unig-file-download-list-width,
.unig-file-download-list-size {
  display: inline-block;
  // border: silver solid 1px;
}
.unig-file-download-list-picto {
  display: inline-block;
  margin-right: 10px;
  color: $color-admin-info;
}
.unig-file-download-list-label {
  width: 30px;
}
.unig-file-download-list-width {
  min-width: 50px;
  text-align: right;
  margin-right: 10px;
}
.unig-file-download-list-size {
  width: auto;
}
.unig-file-download-list-mark-text {
}
//
// =====  Mark as Download
//
div.unig-file-download-mark {
  width: 30px;
  padding: 0 7px;
  display: inline-block;
  margin-left: -5px;

  &:hover {
    color: $color-admin-marked;
    cursor: pointer;
  }

  &.marked {
    color: $color-admin-marked;
  }
  &.marked:hover {
    color: $color-admin-marked-hover;
  }
}
.unig-file-download-list-mark.marked {
  background-color: $color-admin-marked;
}
ul.unig-gallery li.unig-file-item.marked {
  border-color: $color-admin-marked;
}
.unig-file-head-info {
  min-width: 40px;
}
//
// =====  Toolbar
//

//
// =====  Download Toolbar
//

.unig-toolbar-download{
  display: flex;
}
//
// =====  Download Tumbnails
//
.unig-dl-tumbnails {
}
ul.unig-dl {
  margin: 0;
  padding: 0;
}
li.unig-dl {
  padding: 0;
  display: inline-block;
  margin: 2px 5px;
  text-align: center;
}
.unig-dl-image {
  width: 80px;
  height: 60px;
  padding: 2px;
  border: solid 2px $color-image-border;
  border-radius: 5px;
  background-color: $color-image-background;
  margin: 2px;
}
.unig-dl-image img {
  height: 100%;
  width: auto;
}
.unig-dl-label {
  font-size: 10px;
}
.unig-dl-nid {
  font-size: 10px;
}
.unig-dl-number-of {

}
//
// =====  Download Info
//

.unig-dl-info {
  width: 220px;

  &-head {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px $color-admin-border;
    font-weight: bold;
  }

  &-body {
  }

  &-footer {
    margin: 6px 1px;
  }

}
.unig-dl-info .unig-file-download-list-width {
  color: $color-admin-info;
}
.unig-button-small.unig-button-dl-folder-open i,
.unig-button-small.unig-button-dl-folder-close i {
  padding: 2px;
  font-size: 1.5em;
  margin: 0;
}
.badge {
  display: inline-block;
  padding: 1px 7px;
  border-radius: 10px;
  background-color: $color-admin-text-invert;
  color: $color-admin-background-invert;
}
.badge {

  &-marked {
    background-color: $color-admin-marked;
    color: $color-admin-background-invert;
  }
}