@import "colors";
div.unig-file-download-toolbox {
  padding: 0;
  margin: 0;
  font-size: 13px;
  background-color: $color-admin-bg;
  border-radius: 3px;
}
ul.unig-file-download-list {
  margin: 0;
  padding: 0;
}
//
//  =====  List  =====
//
li.unig-file-download-list-mark{
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

}

li.unig-file-download-list-mark,
li.unig-file-download-list-direct {
  // border: solid 1px gray;
  list-style-type: none;
  margin: 0;
  padding: 3px 10px;
  border-bottom: solid 1px $color-5;
}
li.unig-file-download-list-mark:hover,
li.unig-file-download-list-direct:hover {
  background-color: $color-20;
  cursor: pointer;
  border-radius: 3px;
}
li.unig-file-download-list-mark:active,
li.unig-file-download-list-direct:active {
  background-color: $color-admin-buttons-active;
  cursor: pointer;
  border-radius: 3px;
  color: $color-admin-text-invert;
}
// Icons
ul.unig-file-download-list i.fa {
  margin: 0 3px 0 3px;
}
.unig-file-download-list-picto,
.unig-file-download-list-label,
.unig-file-download-list-width,
.unig-file-download-list-size {
  display: inline-block;
  // border: silver solid 1px;
}
.unig-file-download-list-picto {
  display: inline-block;
  margin-right: 10px;
}
.unig-file-download-list-label {
  width: 30px;
}
.unig-file-download-list-width {
  min-width: 50px;
  text-align: right;
  margin-right: 10px;
}
.unig-file-download-list-size {
  width: auto;
}
.unig-file-download-list-mark-text {
}

//
// =====  Mark as Download
//
.unig-file-download-mark {
  padding: 0 7px;
  margin-left: -5px;
  display: inline-block;

  &:hover {
    cursor: pointer;
    color: $color-admin-buttons-hover;
  }
  &:active {
    cursor: pointer;
    color: $color-admin-buttons-active;
  }
  &.marked {
    color: $color-admin-marked;
  }
}
.unig-file-download-list-mark.marked{
  background-color: $color-admin-marked;
}
ul.unig-gallery li.unig-file-item.marked{
  border-color: $color-admin-marked;
}



