// unig-fieldset
.unig-fieldset {
  border: 1px solid $color-fieldset-border;
  background: $color-fieldset-background;
  padding: 5px;
}
.unig-fieldset.block {
  display: block;
}
.unig-fieldset-header {
}
.unig-fieldset-body {
}
.unig-fieldset-footer {
}
.unig-fieldset-item {
  border: 1px solid red; /* Debug */
}
.unig-fieldset-body.block {
  display: flex;
  justify-content: space-between;
}

.unig-fieldset-title {
  margin-right: 20px;
  color: $color-toolbar-title;
}

.unig-fieldset-title-top {
  padding-bottom: 9px;
  display: block;
}

// Sort
.unig-toolbar-sort {
  .unig-button {
    margin-right: 5px;
  }
  .unig-button-ok {
    margin-left: 10px;
  }
}
