.unig-filter-item {
  display: inline-block;
  border: 1px solid silver; /* Debug */
  margin: 2px 7px;
  padding: 2px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9rem;
}

.unig-filter-item-remove {
  width: 20px;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  color: silver;
}

.unig-filter-item-remove:hover {
  color: red;
}

.unig-filter-item-remove:active {
  color: black;
}

.unig-filter-number-of-visible {
  display: inline-flex;
  justify-content: center;
  border: 1px solid silver; /* Debug */
  margin: 2px 10px 2px 2px;
  padding: 2px 7px;
  font-weight: bold;
  border-radius: 5px;

  &:hover {
    background-color: silver;
    cursor: pointer;
  }

  &:active {
    background: #353535;
    color: #cecece;
  }

  .number-of-visible {
    color: green;
    font-size: 1rem;
  }

  .nov-icon {
    padding: 2px;
    margin: 0 5px;
    font-size: 0.8rem;
  }
}

.unig-toolbar-filter .unig-toolbar-footer {
  padding-top: 10px;
}

.unig-filter-operator {
  padding: 2px 7px;
  border-radius: 5px;

  &:hover {
    background-color: silver;
    cursor: pointer;
  }

  &:active {
    background-color: black;
    color: white;
  }
}

.unig-filter-operator-icon {
  display: inline-block;
  padding-left: 5px;
}

.unig-filter-text-people.warning {
  color: $color-error;
}
