// default
// =====================
li.unig-file-item {
  list-style-type: none;
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 12px 4px 12px;
}

// small
// =====================

.unig-images-small img {
  width: 100%;
}

ul.unig-images-small li.unig-file-item {
  width: 150px;
}

ul.unig-images-small .unig-file-head {
  .unig-file-rating {
    font-size: 0.7rem;
  }
}

ul.unig-images-small .unig-file-middle-toolbox {
  display: none;
}

ul.unig-images-small div.unig-lazyload-container {
  min-width: 150px;
  min-height: 100px;
}

// medium
// =====================

.unig-images-medium img {
  width: 100%;
}

ul.unig-images-medium li.unig-file-item {
  //
}

ul.unig-images-medium div.unig-lazyload-container {
  min-width: 220px;
  min-height: 150px;
}

// large
// =====================

.unig-images-large img {
  width: 100%;
}


ul.unig-images-large li.unig-file-item {
  width: 460px;
  max-width: 460px;
}

ul.unig-images-large div.unig-lazyload-container {
  min-width: 440px;
  min-height: 280px;
  max-width: 460px;
}
