// =====  Keywords  =====
//



ul.unig-tags-keywords {
  display: inline-block;
}

li.unig-keyword-tag {
}

.unig-keyword-tag-id {
  display: none;
  margin-right: 5px;
}

.unig-people-tag-id {
  display: none;
  margin-right: 5px;
}

.unig-keyword-tag-label {
}

.unig-button-download-add-current-to-list {
  display: none;
}
