//
// =====  Rating  =====
//
.unig-file-rating{
  margin: auto;

}


.unig-file-rating-up,
.unig-file-rating-down {
  padding: 2px;
  display: inline-block;
  cursor: pointer;

}
.unig-file-rating-up{
padding-right: 7px;
}
.unig-file-rating-down {
padding-left: 7px;
}
.unig-file-picto.unig-file-rating-up:hover {
  color: $color-ok-text;
}
.unig-file-picto.unig-file-rating-down:hover {
  color: $color-error-text;
}
.unig-file-rating-badge {
  display: inline-block;
  cursor: default;
  padding: 2px;
}
.unig-file-rating-badge.active{
  color: $color-text;
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 1px 10px;
}

.unig-file-rating-badge.positiv {
 color: $color-ok-text;
}
.unig-file-rating-badge.negativ {
  color: $color-error-text;
}