
.unig-sortable-placeholder {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: $color-sortable-placeholder-background;
  border: 3px dashed $color-sortable-placeholder-border;
}

.unig-sortable-weight {
  font-size: 1.3em;

}


.unig-sortable-head{
  display: flex;
  justify-content: center;
  cursor: move;
  background-color: $color-sortable-active-background;
  color: $color-sortable-active-text;

}


// small
// =====================

ul.unig-images-small .unig-sortable-placeholder  {
  min-width: 150px;
  min-height: 100px;
}

// medium
// =====================

ul.unig-images-medium .unig-sortable-placeholder {

  min-width: 220px;
  min-height: 150px;
}
// big
// =====================

ul.unig-images-big .unig-sortable-placeholder {
  min-width: 440px;
  min-height: 280px;
}

