
.unig-sortable-placeholder {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 230px;
  height: 240px;
  border-radius: 5px;
  background-color: $color-sortable-placeholder-background;
  border: 3px dashed $color-sortable-placeholder-border;
}
.unig-sortable-reducer-content {
  cursor: move;
}
.unig-sortable-head {
  display: flex;
  justify-content: space-between;
}
.unig-sortable-body {
  display: flex;
  justify-content: center;
}
.unig-sortable-footer {
  display: flex;
  justify-content: center;
  align-content:center;
  color: $color-admin-info;
  padding: 7px;

}
.unig-sortable-weight {

  color: $color-admin-info;
}
.unig-sortable-nid {
  color: $color-admin-fine;
}
.unig-sortable-image {
}
.unig-sortable-title {
  margin: auto;
}


