// normal
// =====================
li.unig-file-item {
  margin: 10px;
  list-style-type: none;
  padding: 5px 12px 4px 12px;
  background-color: $color-default-background;
  width: 230px;
  border-radius: 5px;
  border: 2px solid $color-default-border;
}
ul.thumbnail-normal li.unig-file-item {
  width: 230px;
  background-color: $color-default-background;
  border: 2px solid $color-default-border;
}
// small
// =====================

ul.thumbnail-small li.unig-file-item {
  width: 130px;
  background-color: $color-default-background;
  border: 2px solid $color-default-border;
}
ul.thumbnail-small li.unig-file-item .unig-file-head,
ul.thumbnail-small li.unig-file-item .unig-file-middle-toolbox {
  display: none;
}
// big
// =====================

ul.thumbnail-big li.unig-file-item {
  width: 460px;
  background-color: $color-default-background;
  border: 2px solid $color-default-border;
}
ul.thumbnail-big li.unig-file-item img {
  width: 440px;
}


.unig-button-image-size{
}

.unig-button-image-size-small{
}

.unig-button-image-size-medium{
}

.unig-button-image-size-big{
}

