.unig-toolbox {
  background-color: $color-toolbox-background;
  border-bottom: solid 1px $color-toolbox-stroke;
  border-radius: 3px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.unig-toolbox-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px 2px 10px;
}
.unig-toolbox-trigger.active {
  background-color: $color-toolbox-background;
}
.unig-toolbox-item {
  cursor: pointer;
}
.unig-toolbox-tag-title-picto {
  display: inline-block;
  margin: 5px 1px 1px 10px;
  padding: 3px 5px;
}
.unig-tag {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  padding: 3px 6px;
}
.unig-tag {
  background-color: $color-toolbox-tag-background;
  border-color: $color-toolbox-tag-border;
  color: $color-toolbox-tag;

  &:hover {
    background-color: $color-toolbox-tag-background-hover;
    border-color: $color-toolbox-tag-border-hover;
    color: $color-toolbox-tag-hover;
  }
  &:active,
  &.active {
    background-color: $color-toolbox-tag-background-invert;
    border-color: $color-toolbox-tag-border-invert;
    color: $color-toolbox-tag-invert;
  }
  &.active:hover {
    background-color: $color-toolbox-tag-background-invert-hover;
    border-color: $color-toolbox-tag-border-invert-hover;
    color: $color-toolbox-tag-invert-hover;
  }
}
//
//   Options Toolbox
//

.unig-file-options-toolbox {
  background-color: $color-toolbox-background;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  padding: 10px 5px 5px 5px;
}
.unig-toolbar-footer .unig-button,
.unig-toolbar-body .unig-button,
.unig-toolbar-head .unig-button {
  border-radius: 2px;
  font-size: 0.8em;
  margin: 2px 5px;
  padding: 2px 5px;
}
.unig-toolbar-head-search {
  display: inline-block;
  float: right;
}
.unig-toolbar-head-search input {
  border-radius: 5px;
  font-size: 10px;
}
.unig-toolbar-head-title {
  border-bottom: solid 1px $color-toolbox-stroke;
  display: inline-block;
}
.unig-toolbar-head {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.unig-mark-all-tags,
.unig-unmark-all-tags {
  border-color: inherit;
  background-color: inherit;
  // border: 1px solid green;
  .unig-tags-title {
    display: none;
  }

}

