// unig-toolbar
.unig-toolbar {
  border: 1px solid $color-toolbar-border;
  background: $color-toolbar-background;
  padding: 10px;
}

.unig-toolbar-header{

}

.unig-toolbar-body{

}

.unig-toolbar-footer{

}