
.unig .unig-toolbox td,
.unig .unig-toolbox th,
.unig .unig-toolbox p,
.unig .unig-toolbox li
{
  font-size: 0.9em;
}
.unig .unig-toolbox {
  background-color: $color-toolbox-background;
  border-radius: 3px;
  font-size: 0.9em;
  margin: 5px 0;
  padding: 5px;
}


.unig .unig-toolbox table {
  background-color: $color-toolbox-background;
  border-spacing: 0;

  tr td,
  tr th{
    background: transparent;
    border: 0;
    color: $color-toolbox-text;

  }

  tr th {
    color: $color-toolbox-label;
  }


  tr{
    background: $color-toolbox-background;
    border-bottom: solid 1px $color-toolbox-stroke;

  }

  // row hover
  tr[role="button"]:hover{
    border-radius: 5px;
    background-color: $color-toolbox-hover;
    cursor: pointer;
  }

  // row active
  tr:active {
    background: $color-toolbox-active;
  }

  // row has class "active"
  tr.active:hover,
  tr.active {
    background-color: $color-toolbox-hover;
  }
  tr.active:hover td,
  tr.active td {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.unig-toolbox-icon,
.unig-toolbox-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px 2px 10px;
}
.unig-toolbox-trigger.active {
  background-color: $color-toolbox-background;
}
.unig-toolbox-item {
  cursor: pointer;
}
.unig-toolbox-tag-title-picto {
  display: inline-block;
  margin: 5px 1px 1px 10px;
  padding: 3px 5px;
}
.unig-tag {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  margin: 3px;
  padding: 3px 6px;
}
.unig-tag-read-only {
  border-radius: 4px;
  display: inline-block;
  font-size: 0.9em;
  margin: 3px;
  padding: 3px 6px;
  background-color: $color-toolbox-tag-background;
  border-color: $color-toolbox-tag-border;
  color: $color-toolbox-tag;
}
.unig-tag {
  background-color: $color-toolbox-tag-background;
  border-color: $color-toolbox-tag-border;
  color: $color-toolbox-tag;

  &:hover {
    background-color: $color-toolbox-tag-background-hover;
    border-color: $color-toolbox-tag-border-hover;
    color: $color-toolbox-tag-hover;
  }
  &:active,
  &.active {
    background-color: $color-toolbox-tag-background-invert;
    border-color: $color-toolbox-tag-border-invert;
    color: $color-toolbox-tag-invert;
  }
  &.active:hover {
    background-color: $color-toolbox-tag-background-invert-hover;
    border-color: $color-toolbox-tag-border-invert-hover;
    color: $color-toolbox-tag-invert-hover;
  }
}
//
//   Options Toolbox
//

.unig-file-options-toolbox {
  background-color: $color-toolbox-background;
  display: flex;
  justify-content: space-around;
  padding: 10px 5px 5px 5px;
}



.unig-mark-all-tags,
.unig-show-keywords-on-files,
.unig-show-people-on-files,
.unig-unmark-all-tags {
  border-color: inherit;
  background-color: inherit;
  opacity: 0.5;
  // border: 1px solid green;
  .unig-tags-title {
    display: none;
  }
}

.unig-mark-all-tags:hover,
.unig-show-keywords-on-files:hover,
.unig-show-people-on-files:hover,
.unig-unmark-all-tags:hover {
  border-color: inherit;
  background-color: inherit;
  opacity: 1;
  .unig-tags-title {
    padding: 0 5px;
    display: inline-block;
  }
}
