@import "colors";

.unig-lightgallery {
}


.unig-gallery-preview-wrapper  {
  position: relative;
  background-color: $color-10;
  margin: 10px;
  padding: 10px;
  width: 240px;
  height: auto;
  vertical-align: middle;
  text-align: center;
}


.unig-gallery-preview-wrapper:hover {
  background-color: darkred;
  cursor: pointer;
//  top: 1px;
//  left: 1px;
}

.unig-gallery-preview-wrapper img {
  border: 1px solid $color-80;
  margin: auto;
}

.unig-lightgallery-title {
  display: inline-block;
  margin-right: 20px;
}

.unig-lightgallery-date {
  display: inline-block;
  margin-right: 20px;
}

.unig-lightgallery-number-of-items {
}



ul.unig-gallery {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


ul.unig-gallery li {
margin: 0;
  padding: 0;
  list-style-type: none;
}


li.unig-file {
}