ul.unig-gallery {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

li.unig-file-item {
  list-style-type: none;
  min-width: 100px;
  min-height: 100px;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  cursor: zoom-in;
  color: #7a7a7a;
  background-color: #transparent;
  border: 1px solid rgba(215, 215, 215, 0); }
  li.unig-file-item:hover {
    color: #ededed;
    background-color: #b3b3b3;
    border-color: rgba(122, 122, 122, 0); }
  li.unig-file-item:active {
    color: #ffffff;
    background-color: #565656;
    border-color: rgba(122, 122, 122, 0); }

li.unig-file-item img {
  border: 1px solid rgba(215, 215, 215, 0); }
  li.unig-file-item img:hover {
    border-color: rgba(122, 122, 122, 0); }
  li.unig-file-item img:active {
    border-color: rgba(122, 122, 122, 0); }

.unig-back-to-list {
  margin-bottom: 5px; }

.unig-file-gallery-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

h2.unig-project-title {
  margin-top: 0; }

.unig-gallery-header-middle {
  text-align: center;
  width: 500px; }

.unig-project-description {
  margin: 20px; }

.unig-gallery-header-right {
  margin-right: 50px; }

.unig-project-copyright {
  font-style: italic;
  margin-bottom: 5px; }

.unig-file-index {
  font-family: Helvetica, sans-serif;
  padding: 0 0 5px 5px; }

.unig-file-name {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  padding: 8px 8px 0 8px; }

.unig-file-title {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em; }

.unig-gallery-toolbar {
  margin-top: 5px; }

.unig-gallery-toolbar-item {
  margin-bottom: 5px; }

.unig-image-background {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0; }

.unig-gallery-button {
  font-size: 0.7em;
  color: #9f9f9f;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  padding: 2px 8px 2px 8px;
  cursor: pointer; }
  .unig-gallery-button:hover {
    color: #4d4d4d;
    background-color: #e4e4e4;
    border-color: transparent; }
  .unig-gallery-button:active {
    color: #c8c8c8;
    background-color: #313131;
    border-color: #dfdfdf; }
  .unig-gallery-button.active {
    color: #434343;
    background-color: #d4d4d4;
    border-color: #dfdfdf; }
  .unig-gallery-button.active:hover {
    color: #c8c8c8;
    background-color: #313131;
    border-color: #313131; }

ul.unig-project-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

li.unig-project-list-item {
  list-style: none; }

li.unig-project-list-item article {
  display: block;
  box-sizing: border-box;
  border: 1px silver solid;
  width: 240px;
  margin: 0 19px 40px 0; }

.unig-project-cover {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 10px; }

.unig-project-cover-background {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7a7a7a;
  background-color: #9f9f9f;
  border: 1px solid transparent;
  width: 240px;
  height: 240px;
  cursor: pointer; }
  .unig-project-cover-background:hover {
    color: #959595;
    background-color: #575757;
    border-color: transparent; }
  .unig-project-cover-background:active {
    color: #808080;
    background-color: #000000;
    border-color: transparent; }

.unig-project-cover-icon {
  font-size: 3.5em; }

.unig-project-cover-text {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, Arial, Helvetica, sans-serif; }

li.unig-project-list-item-year {
  display: block;
  width: 100%; }

.unig-project-cover a,
.unig-project-cover a:hover,
.unig-project-cover a:active {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none; }

.unig-project-text {
  padding: 5px 15px; }

h1.unig-project-title {
  display: inline-block; }

a.unig-button-edit-project {
  margin: 5px; }

/*# sourceMappingURL=unig_gallery.css.map */
