@import "colors";
@import "animations";
@import "buttons";
@import "sortable";
@import "inputs";
@import "download";
@import "rating";
@import "keyword_people";
@import "toolbox";
@import "toolbar";
@import "fieldset";
@import "item_overlay";
@import "images_size";
@import "messages";
@import "message_box";

$font-unig: "Lato", "Lucida Grande", "Source Sans Pro", "Lucida Sans Unicode",
Tahoma, Verdana, Arial, Helvetica, sans-serif;

body {
}

.unig {
  font-family: $font-unig;

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  ul,
  ol,
  table {
    font-size: 14px;
  }
}


// Title and Link
// ========================

.unig {
  h1 {
    font-size: 16px;
  }

  h2 {
    font-size: 15px;
  }

  a,
  a:hover,
  a.link,
  a.link:hover {
    text-decoration: none;
  }
}


// Input
// ========================

.unig-edit-box,
.unig input,
.unig input[type=text],
.unig textarea {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
  font-family: $font-unig;
  font-size: 14px;
}

.unig *:focus {
  outline: none;
}

.unig-edit-content * {
  pointer-events: none;
}

.unig-default-box {
  padding: 1px;
}

.unig-default-box-textarea {
  padding: 3px;

}

.unig-input-placeholder {
  color: $color-50;
}


// Table
// ========================

.unig table {
  margin: 0;
  padding: 5px;
}

.unig td,
.unig th {
  padding: 5px 7px;
}

.unig-info {
  color: $color-50;
}

// Layout

.unig-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid green; /* Debug */
}

.unig-row-start {
  display: flex;
  justify-content: flex-start;
}

.unig-row-end {
  display: flex;
  justify-content: flex-end;
}

.unig-col {
}

.unig-col-left {
  justify-self: flex-start;
}

.unig-col-right {
  justify-self: flex-end;
}

hr.unig {
  border: none;
  border-top: solid 1px $color-seperator-invert;
  margin: 10px 0 0;
  padding: 10px 0 0;
}

.unig-toolbar {
  border: 1px solid #aa1f99; /* Debug */
}

.unig-space {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
}

.unig-seperator.invert,
.unig-seperator {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 1px solid $color-seperator;
}

.unig-seperator.invert {
  border-left: 1px solid $color-seperator-invert;
}

// Tests

li.lazyload-test {
  border: 4px solid green !important;
}

.no-preview-spinner,
.unig-lazyload-placeholder {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 3em;
  padding-top: 20%;
  color: silver;
}

.color-success {
  color: $color-success;
}

.color-warning {
  color: $color-warning;
}

.color-error {
  color: $color-error;
}

.test {
}

.unig_form_upload_project {
}

.unig-edit-project-col {
  padding-right: 20px;
}

.row {
  display: flex;
}
