/*
*     THEME
*     =================
*     bright
*
*/
.unig-project-container {
  display: inline-block;
  border-radius: 5px;
  background-color: #e6e6e6;
  margin: 15px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0; }
  .unig-project-container .unig-project-cover {
    display: flex;
    justify-content: center;
    align-content: center; }
  .unig-project-container .unig-image-background {
    box-sizing: border-box;
    background-color: #b8b8b8;
    color: gray;
    width: 240px;
    height: 240px;
    text-align: center; }
    .unig-project-container .unig-image-background i,
    .unig-project-container .unig-image-background svg {
      margin-top: 80px;
      font-size: 40px; }
  .unig-project-container .unig-image-background:hover {
    cursor: pointer;
    background-color: #212121; }
  .unig-project-container .unig-image-background img {
    margin: 10px; }

ul.unig-project-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

li.unig-project-list-item {
  list-style: none; }

.unig-project-private-status.private {
  background-color: #c3ccb9; }

li.unig-project-list-item-year {
  display: block;
  width: 100%; }

.unig-project-year {
  border-bottom: 1px solid #d6d6d6; }

.unig-project-list .unig-sortable-placeholder {
  display: inline-flex;
  align-self: flex-start;
  width: 300px;
  height: 300px; }

.unig-project-date,
.unig-project-title,
.unig-project-description,
.unig-project-copyright,
.unig-project-private {
  margin: 2px 0;
  padding: 2px 0; }

.unig-edit-project-date,
.unig-edit-project-title,
.unig-edit-project-description,
.unig-edit-project-copyright,
.unig-edit-project-private {
  margin: 2px 0;
  padding: 2px 0; }

.unig-edit-project-date .title,
.unig-edit-project-title .title,
.unig-edit-project-description .title,
.unig-edit-project-copyright .title,
.unig-edit-project-private .title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #8f8f8f; }

.unig-project-list-toolbar {
  border-top: 1px solid #d6d6d6;
  margin-top: 5px;
  padding-top: 5px; }

.unig-project-list-toolbar-last {
  margin-bottom: 10px; }

.unig-project-edit-container input,
.unig-project-edit-container textarea,
.unig-project-edit-container label {
  font-size: 12px; }

.unig-edit-project-copyright {
  font-style: italic; }

.unig-project-edit-container textarea {
  padding: 3px; }

.unig-project-copyright {
  font-style: italic; }

.unig-edit-project-private input,
.unig-edit-project-private label {
  display: inline;
  margin-right: 4px; }

.cover-description {
  display: block;
  margin-top: 10px;
  font-size: 15px; }

.unig-button.unig-button-project-edit {
  color: #b3b3b3; }

.unig-button.unig-button-project-edit:hover {
  color: black;
  background-color: transparent; }

.unig-button.unig-button-project-edit:active {
  color: #d9d9d9;
  background-color: transparent; }

.unig-project-number-of-items {
  padding-top: 3px;
  font-size: 12px; }

.unig-project-info-container {
  padding: 5px 2px 0 2px; }

.unig-project-normal-container {
  padding: 0 2px; }

hr.unig.unig-project-list {
  border-color: #d6d6d6;
  margin: 5px 0 0;
  padding: 5px 0 0; }

.unig-button-project-edit-close {
  float: right;
  margin-right: 5px; }

.unig-project-list-item input,
.unig-project-list-item textarea {
  border: none;
  background-color: #f3f3f3; }

.unig-project-list-item .unig-project-title,
.uunig-project-list-item h2.unig-project-title {
  font-size: 1.3em;
  font-weight: bold; }

.unig-project-delete-confirm-message {
  padding: 10px 0; }
  .unig-project-delete-confirm-message i,
  .unig-project-delete-confirm-message svg {
    color: #ffbd57;
    margin-right: 4px; }

/*# sourceMappingURL=unig_project_list.css.map */
