@import "colors";

.unig-project-year {
  position: relative;
  width: 100%;
  margin-left: 10px;
  margin-top: 20px;
  border-bottom: 1px solid $color-10;
  margin-bottom: 5px;
  padding-bottom: 5px;

  h2 {
    margin: 0;
    padding: 0;
  }
}

.unig-project-list-container {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  & > a {
    margin: 0;
    padding: 0;
  }
}

.unig-project-private-status.private .unig-project-private {
  background-color: $color-private;
  border-color: $color-private-border;

  .unig-gallery-preview-wrapper {
    background-color: $color-private-border;
  }

  .unig-gallery-preview-wrapper:hover {
    background-color: $color-highlight;
  }
}

.unig-project-list-title {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.2em;
}

.unig-project-list-date {
}

.unig-project-list-number-of-items {
}

.unig-project-label {
  margin-top: 5px;
}

.unig-project-toolbar {
  margin: 10px 0;
}

// Sortable

.unig-project-list-container .unig-sortable-placeholder {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 140px;
  height: 200px;
}

.unig-back-to-list {
  margin: 0 10px;
}

ul.unig-gallery li.unig-file-item:hover {
  background-color: $color-admin-background;
  border-color: $color-admin-border-hover;
}

.unig-project-date {
  font-size: 0.9em;
  margin-right: 50px;
}

.unig-project-number-of-items {
  font-size: 16px;
}

.unig-project-number-of-items i {
  color: $color-admin-info;
}

// Ajax Messages Generate Images
.unig-ajax-container-elem,
.unig-messages-generate-images {
  padding: 10px;
  border: 1px solid $color-default-border;
  margin: 5px;
  border-radius: 4px;
}

.unig-generate-images-currend-process-text {
  i,
  svg {
    margin-right: 5px;
    color: $color-50;
  }
}

.unig-preview-image-number-of-images {
}

.unig-preview-image-counter {
}

.unig-preview-image-process {
  margin-left: 10px;
}

.unig-preview-image-process-work {
  color: $color-working;
}

.unig-preview-image-process-done {
  color: $color-success;
}

.unig-generate-images-current-process-name {
  margin-left: 10px;
  font-style: italic;
}

.unig-generate-images-current-process-size {
  margin-left: 10px;
  font-style: italic;
}

.unig-messages-generate-images-close-trigger {
  float: right;
  margin-right: 10px;
  color: $color-50;

  &:hover {
    cursor: pointer;
    color: $color-100;
  }
  &:active {
    color: $color-40;
  }
}

.unig-fa-check {
  color: $color-success;
  margin-right: 5px;
}

.unig-image-is-cover-container {
  margin-top: -36px;
  position: absolute;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
}

.unig-image-is-cover,
.unig-set-project-cover-button,
.unig-set-project-cover-process {
  display: none;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  height: 30px;
}

.unig-image-is-cover.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.unig-set-project-cover-button {
  display: none;
}

.unig-set-project-cover-button.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.unig-set-project-cover-button.active:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.unig-set-project-cover-process.active {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.unig-images-small {
  .unig-image-is-cover-container {
    width: 150px;
  }

  .unig-image-is-cover,
  .unig-set-project-cover-button,
  .unig-set-project-cover-process {
    width: 150px;
  }
}

.unig-images-medium {
  .unig-image-is-cover-container {
    width: 220px;
  }

  .unig-image-is-cover,
  .unig-set-project-cover-button,
  .unig-set-project-cover-process {
    width: 220px;
  }
}

.unig-images-big {
  .unig-image-is-cover-container {
    width: 460px;
  }

  .unig-image-is-cover,
  .unig-set-project-cover-button,
  .unig-set-project-cover-process {
    width: 460px;
  }
}

.unig-project .unig-button-project-edit {
  background-color: transparent;
  margin-left: 10px;
  top: -5px;
}

.unig-project .unig-project-title {
  display: inline-block;
}

.unig-project area.unig-project-title {
  width: 210px;
}

.unig-project-title-trigger {
  cursor: pointer;
}

.unig-button-project-edit-wrapper {
  display: inline-block;
}

.unig-project label {
  display: inline-block;
  min-width: 70px;
  vertical-align: top;
}

.unig-edit-project-col-1,
.unig-edit-project-col-2 {
  border-right: 1px solid $color-admin-border;
  margin-right: 10px;
}

.edit-unig-project-private-label {
  display: inline;
  margin-left: 3px;
}

.unig-toolbar-info-edit {
}

.unig-project .unig-edit-project-title,
.unig-project .unig-edit-project-date,
.unig-project .unig-edit-project-copyright {
  margin-bottom: 10px;

  label {
    margin-top: 4px;
  }
}

.unig-fieldset-item .unig-project-description,
.unig-fieldset-item .unig-edit-project-copyright {
  color: $color-admin-info;
}

.unig-project-description {
  max-width: 500px;
  margin: 0 20px;
}

.unig-project-container-delete {
  margin-top: 50px;

}

.unig-project-delete-confirm-message {
  padding: 10px 0;
  i,
  svg {
    color: $color-warning;
    margin-right: 4px;
  }
}

.unig-project-private {
  padding: 5px 20px;
  margin: 0;
  border-radius: 10px;
  color: $color-0;
}

.unig-button-project-delete {
  color: $color-error-text;
  border-color: transparent;
  background-color: transparent;

  &:hover {
    background-color: $color-error-hover;
    border-color: $color-error-border;
    color: $color-error-background;
  }

  &:active {
    background-color: $color-error-hover;
    border-color: $color-error-border;
    color: $color-error-background;
  }

}

.unig-file-description,
.unig-file-description textarea,
.unig-file-title input {
  text-align: center;
}

.unig-file-description {
  max-width: 220px;
  color: $color-50;
}

.unig-file-description .unig-input-placeholder {
  font-size: 0.7em;
  color: $color-admin-info;
}

.unig-process-spinner {
  color: $color-50;
}

.unig-process-success {
  color: $color-success;
}

.unig-process-error {
  color: $color-error;
}