@import "colors";



// Project List Items
// ============================

ul.unig-project-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

li.unig-project-list-item {
  list-style: none;
}

li.unig-project-list-item article {
  display: block;
  box-sizing: border-box;
  border: 1px silver solid;
  width: 240px;
  margin: 20px 30px 40px 0;
}

// Cover
// ============================

.unig-project-cover {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.unig-project-cover-background {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-cover-text;
  background-color: $color-cover-background;
  border: none;
  width: 240px;
  height: 240px;
  cursor: pointer;

  &:hover {
    color: $color-cover-text-hover;
    background-color: $color-cover-background-hover;
    border-color: $color-cover-border-hover;
  }

  &:active {
    color: $color-cover-text-active;
    background-color: $color-cover-background-active;
    border-color: $color-cover-border-active;
  }
}

.unig-project-cover-image {
}

.unig-project-cover-image-placeholder {
}

.unig-project-cover-icon {
  font-size: 3.5em;
}

.unig-project-cover-text {
}

li.unig-project-list-item-year {
  display: block;
  width: 100%;
}

.unig-project-cover a,
.unig-project-cover a:hover,
.unig-project-cover a:active {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
}

.unig-project-text {
  padding: 5px 15px;
  background-color: #e9e9e9;
}




.unig-project-private-status.private {
  background-color: $color-admin-private;
}

li.unig-project-list-item-year {
  display: block;
  width: 100%;
}

.unig-project-year {
  border-bottom: 1px solid $color-admin-border;
}

// Sortable

.unig-project-list .unig-sortable-placeholder {
  display: inline-flex;
  align-self: flex-start;
  width: 300px;
  height: 300px;
}

// Normal

.unig-project-date,
.unig-project-title,
.unig-project-description,
.unig-project-copyright,
.unig-project-private {
  margin: 2px 0;
  padding: 2px 0;
}

// Edit

.unig-edit-project-date,
.unig-edit-project-title,
.unig-edit-project-description,
.unig-edit-project-copyright,
.unig-edit-project-private {
  margin: 2px 0;
  padding: 2px 0;
}

.unig-edit-project-date .title,
.unig-edit-project-title .title,
.unig-edit-project-description .title,
.unig-edit-project-copyright .title,
.unig-edit-project-private .title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $color-admin-info;
}

.unig-project-list-toolbar {
  border-top: 1px solid $color-admin-border;
  margin-top: 5px;
  padding-top: 5px;
}

.unig-project-list-toolbar-last {
  margin-bottom: 10px;
}

.unig-project-edit-container input,
.unig-project-edit-container textarea,
.unig-project-edit-container label {
  font-size: 12px;
}

.unig-edit-project-copyright {
  font-style: italic;
}

.unig-project-edit-container textarea {
  padding: 3px;
}

.unig-project-copyright {
  font-style: italic;
}

.unig-edit-project-private input,
.unig-edit-project-private label {
  display: inline;
  margin-right: 4px;
}

.cover-description {
  display: block;
  margin-top: 10px;
  font-size: 15px;
}

.unig-button.unig-button-project-edit {
  color: $color-40;
}

.unig-button.unig-button-project-edit:hover {
  color: $color-100;
  background-color: transparent;
}

.unig-button.unig-button-project-edit:active {
  color: $color-15;
  background-color: transparent;
}

.unig-project-number-of-items {
  padding-top: 3px;
  font-size: 12px;
}

.unig-project-info-container {
  padding: 5px 2px 0 2px;
}

.unig-project-normal-container {
  padding: 0 2px;
}

hr.unig.unig-project-list {
  border-color: $color-admin-border;
  margin: 5px 0 0;
  padding: 5px 0 0;
}

.unig-button-project-edit-close {
  float: right;
  margin-right: 5px;
}

.unig-project-list-item input,
.unig-project-list-item textarea {
  border: none;
  background-color: #f3f3f3;
}

.unig-project-list-item .unig-project-title,
.uunig-project-list-item h2.unig-project-title {
  font-size: 1.3em;
  font-weight: bold;
}

.unig-button-project-delete {
}

.unig-project-delete-confirm-message {
  padding: 10px 0;
  i,
  svg {
    color: $color-warning;
    margin-right: 4px;
  }
}
