@import 'colors';

body{
  color: $color-debug;
}


.unig {
  a,
  a:hover,
  a.link,
  a.link:hover {
    border: 0;
  }

  font-family: Sans-Serif;
}

a.unig-button {
  box-sizing: border-box;
  display: block;
  width: 250px;
  padding: 2px 5px;
  border: 1px solid $color-20;
}

a.unig-button:hover {
  background-color: $color-50;
  border: 1px solid $color-20;
}

.unig-file{
  background-color: $color-10;
}