// Variables
// ---------------------

// Font
$font-sans-serif: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma,
Verdana, Arial, Helvetica, sans-serif;

$color-text: #232323;
$color-info: #848484;

// Color Cover
// -- Default
$color-cover-text: #7a7a7a;
$color-cover-background: #9f9f9f;
$color-cover-border: transparent;

// -- :hover
$color-cover-text-hover: #959595;
$color-cover-background-hover: #575757;
$color-cover-border-hover: transparent;

// -- :active
$color-cover-text-active: #808080;
$color-cover-background-active: #000000;
$color-cover-border-active: transparent;

// Color Image
// -- Default
$color-image-text: #7a7a7a;
$color-image-background: transparent;
$color-image-border: rgba(215, 215, 215, 0);

// -- :hover
$color-image-text-hover: #ededed;
$color-image-background-hover: #b3b3b3;
$color-image-border-hover: rgba(122, 122, 122, 0);

// -- :active
$color-image-text-active: #ffffff;
$color-image-background-active: #565656;
$color-image-border-active: rgba(122, 122, 122, 0);

// Color Buttons
// -- default
$color-button-text: #9f9f9f;
$color-button-background: transparent;
$color-button-border: transparent;

// -- :hover
$color-button-text-hover: #4d4d4d;
$color-button-background-hover: #e4e4e4;
$color-button-border-hover: transparent;

// -- :active
$color-button-text-active: #c8c8c8;
$color-button-background-active: #313131;
$color-button-border-active: #dfdfdf;

// -- .active
$color-button-text-currently-active: #434343;
$color-button-background-currently-active: #d4d4d4;
$color-button-border-currently-active: #dfdfdf;

// -- .active:hover
$color-button-text-active-hover: #c8c8c8;
$color-button-background-active-hover: #313131;
$color-button-border-active-hover: #313131;

// Seperator
$color-seperator: rgb(230, 230, 230);
$color-separator-invert: rgb(74, 74, 74);
// Layout

.unig-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.unig-row-start {
  display: flex;
  justify-content: flex-start;
}

.unig-row-end {
  display: flex;
  justify-content: flex-end;
}

.unig-col {
}

.unig-col-left {
  justify-self: flex-start;
}

.unig-col-right {
  justify-self: flex-end;
}

hr.unig {
  border: none;
  border-top: solid 1px $color-separator-invert;
  margin: 10px 0 0;
  padding: 10px 0 0;
}

// default
// ---------------------
ul.unig-gallery {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

// Files
// ---------------------
li.unig-file-item {
  list-style-type: none;
  min-width: 100px;
  min-height: 100px;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  cursor: zoom-in;
  color: $color-image-text;
  background-color: $color-image-background;
  border: 1px solid $color-image-border;

  &:hover {
    color: $color-image-text-hover;
    background-color: $color-image-background-hover;
    border-color: $color-image-border-hover;
  }

  &:active {
    color: $color-image-text-active;
    background-color: $color-image-background-active;
    border-color: $color-image-border-active;
  }
}

li.unig-file-item img {
  border: 1px solid $color-image-border;

  &:hover {
    border-color: $color-image-border-hover;
  }

  &:active {
    border-color: $color-image-border-active;
  }
}

.unig-back-to-list {
  margin-bottom: 5px;
}

.unig-file-gallery-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.unig-project-title h1 {
  margin-top: 0;
}

.unig-gallery-header-middle {
  text-align: center;
  width: 60%;
}

.unig-gallery-header-text {
}

.unig-gallery-header-text-row-1 {
}

.unig-gallery-header-text-row-2 {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.unig-project-description {
  margin: 0 20px;
}

.unig-gallery-header-right {
  margin-right: 50px;
}

.unig-project-copyright {
  font-style: italic;
  margin-bottom: 5px;
}

.unig-file-index {
  font-family: Helvetica, sans-serif;
  padding: 0 0 5px 5px;
}

.unig-file-name {
  font-family: $font-sans-serif;
  font-size: 0.9em;
  padding: 8px 8px 0 8px;
}

.unig-file-title {
  padding: 8px 8px 0 8px;

  font-family: $font-sans-serif;
  font-size: 0.9em;
  text-align: center;
}

.unig-file-description {
  font-family: $font-sans-serif;
  font-size: 0.8em;
  padding: 8px 8px 0 8px;
  width: 130px;
  text-align: center;
}

.unig-gallery-toolbar {
  margin-top: 5px;
}

.unig-gallery-toolbar-item {
  margin-bottom: 5px;
}

.unig-image-background {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

// GUI
// ----------------------------

.unig-gallery-button {
  font-size: 0.7em;
  color: $color-button-text;
  background: $color-button-background;
  border: 1px solid $color-button-border;
  border-radius: 5px;
  font-family: $font-sans-serif;
  margin-bottom: 5px;
  padding: 2px 8px 2px 8px;
  cursor: pointer;

  &:hover {
    color: $color-button-text-hover;
    background-color: $color-button-background-hover;
    border-color: $color-button-border-hover;
  }

  &:active {
    color: $color-button-text-active;
    background-color: $color-button-background-active;
    border-color: $color-button-border-active;
  }

  &.active {
    color: $color-button-text-currently-active;
    background-color: $color-button-background-currently-active;
    border-color: $color-button-border-currently-active;
  }

  &.active:hover {
    color: $color-button-text-active-hover;
    background-color: $color-button-background-active-hover;
    border-color: $color-button-border-active-hover;
  }
}

// Project List Items
// ----------------------------

ul.unig-project-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li.unig-project-list-item {
  list-style: none;
}

li.unig-project-list-item article {
  display: block;
  box-sizing: border-box;
  border: 1px silver solid;
  width: 240px;
  margin: 0 19px 40px 0;
}

// Cover
// ----------------------------

.unig-project-cover {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.unig-project-cover-background {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-cover-text;
  background-color: $color-cover-background;
  border: 1px solid $color-cover-border;
  width: 240px;
  height: 240px;
  cursor: pointer;

  &:hover {
    color: $color-cover-text-hover;
    background-color: $color-cover-background-hover;
    border-color: $color-cover-border-hover;
  }

  &:active {
    color: $color-cover-text-active;
    background-color: $color-cover-background-active;
    border-color: $color-cover-border-active;
  }
}

.unig-project-cover-image {
}

.unig-project-cover-image-placeholder {
}

.unig-project-cover-icon {
  font-size: 3.5em;
}

.unig-project-cover-text {
  font-family: $font-sans-serif;
}

li.unig-project-list-item-year {
  display: block;
  width: 100%;
}

.unig-project-cover a,
.unig-project-cover a:hover,
.unig-project-cover a:active {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
}

.unig-project-text {
  padding: 5px 15px;
}

h1.unig-project-title {
  display: inline-block;
}

a.unig-button-edit-project {
  margin: 5px;
}

.unig-gallery-diashow {
  color: whitesmoke;
}

.unig-project-date {
}

.unig-project-info-container {
  padding: 1px 2px 0 2px;
  color: $color-info;
  font-size: 0.8em;
}

.unig-project-text-container {
  margin-top: 5px;
  border-top: solid 1px silver;
  padding: 5px 2px 0;
  color: $color-text;
}
