@charset "UTF-8";
/*
*     THEME
*     =================
*     Default
*
*/
a.unig-button,
.unig-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #292929;
  border-color: #cccccc;
  background-color: #e7e7e7; }
  a.unig-button-success, a.unig-button-ok,
  .unig-button-success,
  .unig-button-ok {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #0f7f34;
    border-color: #2eb741;
    background-color: #daffd4; }
  a.unig-button-warning,
  .unig-button-warning {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #7f5930;
    border-color: #ffd29b;
    background-color: #fff8cf; }
  a.unig-button-error, a.unig-button-danger,
  .unig-button-error,
  .unig-button-danger {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #a2132b;
    border-color: #ffb4aa;
    background-color: #ffe6e5; }

a.unig-button:hover,
.unig-button:hover {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #323232;
  border-color: #939393;
  background-color: #c7c7c7; }
a.unig-button-success:hover, a.unig-button-ok:hover,
.unig-button-success:hover,
.unig-button-ok:hover {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #76c875;
  border-color: #2eb741;
  color: #daffd4; }
a.unig-button-warning:hover,
.unig-button-warning:hover {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #e9cea5;
  border-color: #ffd29b;
  color: #fff8cf; }
a.unig-button-error:hover, a.unig-button-danger:hover,
.unig-button-error:hover,
.unig-button-danger:hover {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #bf9f9d;
  border-color: #ffb4aa;
  color: #ffe6e5; }

a.unig-button:active,
.unig-button:active {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: #cccccc;
  border-color: rgba(11, 11, 11, 0.95);
  background-color: #4f4f4f; }
a.unig-button-success:active, a.unig-button-ok:active,
.unig-button-success:active,
.unig-button-ok:active {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #76c875;
  border-color: #2eb741;
  color: #daffd4; }
a.unig-button-warning:active,
.unig-button-warning:active {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #e9cea5;
  border-color: #ffd29b;
  color: #fff8cf; }
a.unig-button-error:active, a.unig-button-danger:active,
.unig-button-error:active,
.unig-button-danger:active {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  background-color: #bf9f9d;
  border-color: #ffb4aa;
  color: #ffe6e5; }

a.unig-button,
.unig-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px; }
  a.unig-button.active,
  .unig-button.active {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #cccccc;
    border-color: rgba(11, 11, 11, 0.95);
    background-color: #4f4f4f; }
  a.unig-button-success.active, a.unig-button-ok.active,
  .unig-button-success.active,
  .unig-button-ok.active {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #0f7f34;
    border-color: #2eb741;
    color: #daffd4; }
  a.unig-button-warning.active,
  .unig-button-warning.active {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #7f5930;
    border-color: #ffd29b;
    color: #fff8cf; }
  a.unig-button-error.active, a.unig-button-danger.active,
  .unig-button-error.active,
  .unig-button-danger.active {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #a2132b;
    border-color: #ffb4aa;
    color: #ffe6e5; }

a.unig-button,
.unig-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px; }
  a.unig-button.active:hover,
  .unig-button.active:hover {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #cccccc;
    border-color: #333333;
    background-color: #232323; }
  a.unig-button-success.active:hover, a.unig-button-ok.active:hover,
  .unig-button-success.active:hover,
  .unig-button-ok.active:hover {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #0f7f34;
    border-color: #2eb741;
    color: #daffd4; }
  a.unig-button-warning.active:hover,
  .unig-button-warning.active:hover {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #7f5930;
    border-color: #ffd29b;
    color: #fff8cf; }
  a.unig-button-error.active:hover, a.unig-button-danger.active:hover,
  .unig-button-error.active:hover,
  .unig-button-danger.active:hover {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #a2132b;
    border-color: #ffb4aa;
    color: #ffe6e5; }

.unig-button .fa {
  margin-right: 4px; }

.unig-button.unig-button-small {
  margin: 2px 5px;
  padding: 2px 5px;
  font-size: 0.8em;
  border-radius: 2px; }

.unig-fieldset {
  display: inline-block;
  padding: 1px;
  margin: 1px;
  border-radius: 2px;
  border: 1px solid #eaedf0;
  background: #f7fafd; }

.unig-fieldset.no-border {
  border: 1px solid transparent; }

.unig-button.disabled {
  pointer-events: none;
  cursor: no-drop;
  opacity: 0.5; }

.unig-button-group .unig-button {
  box-sizing: border-box;
  margin-right: -4px;
  border-radius: 0; }

.unig-button-group .unig-button:first-child:hover,
.unig-button-group .unig-button:first-child:active,
.unig-button-group .unig-button:first-child {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.unig-button-group .unig-button:last-child:hover,
.unig-button-group .unig-button:last-child:active,
.unig-button-group .unig-button:last-child {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.unig-sortable-placeholder {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 3px dashed rgba(0, 0, 0, 0.2); }

.unig-sortable-weight {
  font-size: 1.3em; }

.unig-sortable-head {
  display: flex;
  justify-content: center;
  cursor: move;
  background-color: #9e9a97;
  color: #fffbc7; }

ul.unig-images-small .unig-sortable-placeholder {
  min-width: 150px;
  min-height: 100px; }

ul.unig-images-medium .unig-sortable-placeholder {
  min-width: 220px;
  min-height: 150px; }

ul.unig-images-big .unig-sortable-placeholder {
  min-width: 440px;
  min-height: 280px; }

/*
*     THEME
*     =================
*     Default
*
*/
.unig-input-label {
  text-decoration: none;
  font-weight: normal; }

/* @import "colors"; */
ul.unig-file-download-list {
  margin: 0;
  padding: 0; }

li.unig-file-download-list-mark {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

li.unig-file-download-list-mark,
li.unig-file-download-list-direct {
  list-style-type: none;
  margin: 0;
  padding: 3px 10px;
  border-bottom: solid 1px #e3e2e2;
  color: #292929;
  cursor: pointer;
  border-radius: 3px; }

li.unig-file-download-list-direct:hover {
  background-color: #b8b8b8;
  color: #5b5b5b; }

li.unig-file-download-list-direct:active {
  background-color: #979797;
  color: #e6e6e6; }

li.unig-file-download-list-mark:hover {
  background-color: #57913b;
  color: #f0f0f0; }

li.unig-file-download-list-mark:active {
  background-color: #57913b;
  color: #292929; }

ul.unig-file-download-list i.fa {
  margin: 0 3px 0 3px; }

.unig-file-download-list-picto,
.unig-file-download-list-label,
.unig-file-download-list-width,
.unig-file-download-list-size {
  display: inline-block; }

.unig-file-download-list-label {
  width: 30px; }

.unig-file-download-list-width {
  width: 85px;
  text-align: right;
  margin-right: 10px; }

.unig-file-download-list-size {
  width: 65px;
  text-align: right; }

.unig-file-download-list-picto {
  color: #8f8f8f; }

div.unig-file-download-mark {
  width: 30px;
  padding: 0 7px;
  display: inline-block;
  margin-left: -5px; }
  div.unig-file-download-mark:hover {
    color: #a7d34c;
    cursor: pointer; }
  div.unig-file-download-mark.marked {
    color: #a7d34c; }
  div.unig-file-download-mark.marked:hover {
    color: #57913b; }

.unig-file-download-list-mark.marked {
  background-color: #a7d34c; }

ul.unig-gallery li.unig-file-item.marked {
  border-color: #a7d34c; }

.unig-file-head-info {
  min-width: 40px; }

.unig-toolbar-download {
  display: flex; }

ul.unig-dl {
  margin: 0;
  padding: 0; }

li.unig-dl {
  padding: 0;
  display: inline-block;
  margin: 2px 5px;
  text-align: center;
  width: 100px;
  height: auto; }

li.unig-dl .unig-dl-image {
  width: 100px;
  height: 60px;
  padding: 2px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  background-color: #e6e6e6;
  margin: 2px; }

li.unig-dl .unig-dl-image img {
  height: 100%;
  width: auto; }

li.unig-dl .unig-dl-label {
  font-size: 10px;
  clear: both; }

li.unig-dl .unig-dl-nid {
  display: none;
  font-size: 10px; }

.unig-dl-info {
  width: 220px; }
  .unig-dl-info-head {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #d6d6d6;
    font-weight: bold; }
  .unig-dl-info-footer {
    margin: 6px 1px; }

table.unig-file-download-table {
  width: 200px;
  margin: 0;
  padding: 0;
  border: 0;
  margin-right: 10px;
  margin-bottom: 20px; }

table.unig-file-download-table tr {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
  cursor: pointer;
  border-radius: 5px; }

table.unig-file-download-table tr.active:hover,
table.unig-file-download-table tr.active {
  background-color: transparent; }

table.unig-file-download-table tr.active:hover td,
table.unig-file-download-table tr.active td {
  opacity: 0.5;
  cursor: not-allowed; }

table.unig-file-download-table tr:hover {
  background-color: #b8b8b8;
  border-radius: 5px; }

table.unig-file-download-table tr:active {
  background-color: #979797; }

table.unig-file-download-table td {
  margin: 0;
  padding: 5px 6px;
  border: none; }

td.unig-file-download-table-label {
  font-weight: bold;
  font-size: 1em; }

td.unig-file-download-table-width {
  color: #8f8f8f;
  text-align: right; }

td.unig-file-download-table-size {
  text-align: right; }

.unig-button-small.unig-button-dl-folder-open i,
.unig-button-small.unig-button-dl-folder-close i {
  padding: 2px;
  font-size: 1.5em;
  margin: 0; }

.badge {
  display: inline-block;
  padding: 1px 7px;
  border-radius: 10px;
  background-color: #e6e6e6;
  color: #515151; }

.badge-marked {
  background-color: #a7d34c;
  color: #515151; }

.unig-file-rating {
  margin: auto; }

.unig-file-rating-up,
.unig-file-rating-down {
  padding: 2px;
  display: inline-block;
  cursor: pointer; }

.unig-file-rating-up {
  padding-right: 7px; }

.unig-file-rating-down {
  padding-left: 7px; }

.unig-file-picto.unig-file-rating-up:hover {
  color: #0f7f34; }

.unig-file-picto.unig-file-rating-down:hover {
  color: #a2132b; }

.unig-file-rating-badge {
  display: inline-block;
  cursor: default;
  padding: 2px; }

.unig-file-rating-badge.active {
  color: #2c2c2c;
  font-size: 1.3em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 1px 10px; }

.unig-file-rating-badge.positiv {
  color: #0f7f34; }

.unig-file-rating-badge.negativ {
  color: #a2132b; }

ul.unig-tags-keywords {
  display: inline-block; }

.unig-keyword-tag-id {
  display: none; }

.unig-toolbox {
  background-color: whitesmoke;
  border-bottom: solid 1px #e3e2e2;
  border-radius: 3px;
  font-size: 12px;
  margin: 0;
  padding: 0; }

.unig-toolbox table {
  background-color: whitesmoke; }

.unig-toolbox tr td,
.unig-toolbox tr th {
  border: 0;
  background-color: whitesmoke;
  color: #292929; }

.unig-toolbox-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 5px;
  padding: 3px 10px 2px 10px; }

.unig-toolbox-trigger.active {
  background-color: whitesmoke; }

.unig-toolbox-item {
  cursor: pointer; }

.unig-toolbox-tag-title-picto {
  display: inline-block;
  margin: 5px 1px 1px 10px;
  padding: 3px 5px; }

.unig-tag {
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 3px;
  padding: 3px 6px; }

.unig-tag {
  background-color: #e4e3e3;
  border-color: white;
  color: #343434; }
  .unig-tag:hover {
    background-color: #adabab;
    border-color: white;
    color: #1c1c1c; }
  .unig-tag:active, .unig-tag.active {
    background-color: #000827;
    border-color: #3a3738;
    color: #d6d4d4; }
  .unig-tag.active:hover {
    background-color: #a0a0a0;
    border-color: white;
    color: #b8b8b8; }

.unig-file-options-toolbox {
  background-color: whitesmoke;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  padding: 10px 5px 5px 5px; }

.unig-toolbar-footer .unig-button,
.unig-toolbar-body .unig-button,
.unig-toolbar-head .unig-button {
  border-radius: 2px;
  font-size: 0.8em;
  margin: 2px 5px;
  padding: 2px 5px; }

.unig-toolbar-head-search {
  display: inline-block;
  float: right; }

.unig-toolbar-head-search input {
  border-radius: 5px;
  font-size: 10px; }

.unig-toolbar-head-title {
  border-bottom: solid 1px #e3e2e2;
  display: inline-block; }

.unig-toolbar-head {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-bottom: 5px; }

.unig-mark-all-tags,
.unig-unmark-all-tags {
  border-color: inherit;
  background-color: inherit; }
  .unig-mark-all-tags .unig-tags-title,
  .unig-unmark-all-tags .unig-tags-title {
    display: none; }

.unig-toolbar {
  border: 1px solid #e6e6e6;
  background: #f6f6f6;
  padding: 10px; }

.unig-fieldset {
  border: 1px solid #eaedf0;
  background: #f7fafd;
  padding: 5px; }

.unig-fieldset.block {
  display: block; }

.unig-fieldset-body.block {
  display: flex;
  justify-content: space-between; }

/*

https://codepen.io/afinedayproductions/pen/JipKF

when .item-overlay:hover, show overlay.
overwrite .item-overlay-canvas."position"
*/
/* misc. CSS */
*.item-overlay,
*.item-overlay-canvas {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.item-overlay:hover .item-overlay-canvas.top {
  top: 0; }

.item-overlay:hover .item-overlay-canvas.right {
  right: 0;
  left: 0; }

.item-overlay:hover .item-overlay-canvas.bottom {
  bottom: 0; }

.item-overlay:hover .item-overlay-canvas.left {
  left: 0; }

/*
by default, overlay is visible…
*/
.item-overlay-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  text-align: center;
  /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
  width: 100%;
  -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; }

/*
…but this hide it
*/
.item-overlay-canvas.top {
  top: 100%; }

.item-overlay-canvas.right {
  right: 200%;
  left: -100%; }

.item-overlay-canvas.bottom {
  bottom: 100%; }

.item-overlay-canvas.left {
  left: 100%; }

.item-overlay {
  position: relative;
  border: 1px solid #333;
  float: left;
  margin: 2%;
  overflow: hidden;
  width: 100%;
  max-width: 540px; }

.item-overlay img {
  max-width: 100%; }

/* end of misc. CSS */
.item-overlay-text {
  font-size: 30px;
  padding-top: auto;
  padding-bottom: auto;
  cursor: pointer; }

li.unig-file-item {
  list-style-type: none;
  min-width: 100px;
  min-height: 100px;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 12px 4px 12px;
  background-color: #e7e7e7;
  border: 2px solid #cccccc; }

ul.unig-images-medium-blur li.unig-file-item {
  width: 240px; }

ul.unig-images-medium-blur div.unig-lazyload-container {
  min-width: 220px;
  min-height: 150px; }

ul.unig-images-small li.unig-file-item {
  width: 150px; }

ul.unig-images-small .unig-file-head,
ul.unig-images-small .unig-file-middle-toolbox {
  display: none; }

ul.unig-images-small div.unig-lazyload-container {
  min-width: 150px;
  min-height: 100px; }

ul.unig-images-medium li.unig-file-item {
  width: 240px; }

ul.unig-images-medium div.unig-lazyload-container {
  min-width: 220px;
  min-height: 150px; }

ul.unig-images-big li.unig-file-item {
  width: 460px; }

ul.unig-images-big div.unig-lazyload-container {
  min-width: 440px;
  min-height: 280px; }

.unig {
  font-family: Sans-Serif, serif; }
  .unig a,
  .unig a:hover,
  .unig a.link,
  .unig a.link:hover {
    border: 0; }

.unig-row {
  display: flex;
  justify-content: space-between; }

.unig-col-left {
  justify-self: flex-start; }

.unig-col-right {
  justify-self: flex-end; }

hr.unig {
  border: none;
  border-top: solid 1px #4a4a4a;
  margin: 10px 0 0;
  padding: 10px 0 0; }

.unig-toolbar {
  font-family: "Lato Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px; }

.unig-space {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px; }

.unig-seperator.invert,
.unig-seperator {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #e6e6e6; }

.unig-seperator.invert {
  border-left: 1px solid #4a4a4a; }

li.lazyload-test {
  border: 4px solid green !important; }

.unig-lazyload-placeholder {
  display: flex;
  width: 220px;
  height: 150px;
  justify-content: center;
  align-content: center; }
  .unig-lazyload-placeholder i {
    display: block;
    margin: auto;
    font-size: 30px; }

/*# sourceMappingURL=unig.css.map */
