{#
/**
 * @file
 *
 */
#}


<h1>Gallery Admin</h1>

{% set unig_projects     = path('unig.admin.projects.views') %}

<a href={{ unig_projects }}> Alle </a> <br>
<a href={{ unig_projects }}/322> Detail </a>

<hr>


{# Image Upload  #}
{% set page_form_upload = path('unig.upload') %}

<h2>Image Upload</h2>
<p>Ladet die Bilder hoch und erstellt neue Nodes</p>
<a href={{ page_form_upload }}>Upload Images</a>

<hr>

{# testConfig  #}
{% set test_config = path('unig.admin.test_config') %}

<h2>testConfig</h2>
<a href={{ test_config }}>testConfig</a>

<hr>